include ../../mixins/index

-
  const navMenuData = [
    {
      name: 'О нас',
      path: '../templates/page-404.html',
    },
    {
      name: 'Новости',
      path: '../templates/page-text.html',
    },
    {
      name: 'Энциклопедия матрасов',
      path: '../templates/page-404.html',
    },
    {
      name: 'Gash Care',
      path: '../templates/page-404.html',
    },
    {
      name: 'Контакты',
      path: '../templates/page-contact.html',
    },
  ]

-
  const kitData = [
        {
          name:'МАТРАСЫ',
          class:'icon-mattress',
        },
        {
          name:'НАМАТРАСНИКИ',
          class:'icon-mattress-cov',
        },
        {
          name:'ПОДУШКИ',
          class:'icon-cushion',
        },
        {
          name:'ОДЕЯЛА',
          class:'icon-coverlet',
        },
        {
          name:'ЛАМЕЛЬНЫЕ  КАРКАСЫ',
          class:'icon-frame',
        },
        {
          name:'STOMAGASH',
          class:'icon-stomagash',
        },
        {
          name:'ЛЬНЯНЫЕ ТРУСЫ',
          class:'icon-pants',
        },
      ]
  
if big != true
  +b.head-wrap.HEADER
    +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
      +b.head
        +e.logo
          +e.logo--img.IMG(src="../static/img/logo.png" alt="logo" title='logo')
        +b.info
          +createNavMenu(navMenuData)
          +e.work
            +e.phone.A(href="tel:+38(096)747 53 98") #[+e.icon.icon_phone &#xe090;]+38 (096) 747-5398
            +e.time пн-пт: 8:00 - 21:00  •  сб: 9:00 - 20:00  •  вс: 10:00 - 19:00
        +b.order.UL 
          +e.item.LI #[+e.item--color.SPAN –]  Запись на прием 
          +e.item.LI #[+e.item--color.SPAN –]  Индивидуальный подбор матраса 
          +e.item.LI #[+e.item--color.SPAN –]  Обратный звонок
        +b.btn-menu.BUTTON
              +e.line.--top
              +e.line.--center
              +e.line.--bottom          
else 
  +b.head-big-wrap.--line.HEADER
    +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
      +b.head-big
        +b.language
          +e.link.A(href='#') ru
          +e.link.A(href='#') ua
          +e.link.A(href='#') de
          +e.link.A(href='#') en
        +b.info
          +createNavMenu(navMenuData)
          +e.search.A #[+e.search-icon.icon-search.SPAN] Поиск
        +b.login
          +e.link.A(href='#') #[+e.link-icon.icon-body-min.SPAN] Вход  #[+e.link-slash.SPAN /]
          +e.link.A(href='#') Регистрация
  +b.head-big-wrap
    +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
      +b.head-big      
        +b.logo
          +e.logo--img.IMG(src="../static/img/logo.png" alt="logo" title='logo')
        +b.work
          +e.phone.A(href="tel:+38(096)747 53 98") #[+e.icon.icon_phone &#xe090;]+38 (096) 747-5398
          +e.time пн-пт: 8:00 - 21:00  •  сб: 9:00 - 20:00  •  вс: 10:00 - 19:00
          +b.order.UL 
            +e.item.LI #[+e.item--color.SPAN –]  Запись на прием  
            +e.item.LI #[+e.item--color.SPAN –]  Индивидуальный подбор матраса 
            +e.item.LI #[+e.item--color.SPAN –]  Обратный звонок
        +b.btn-big.BUTTON #[+e.icon.icon-heart-min.SPAN]
        +b.btn-big.--left.BUTTON
          +e.num-secondary.P 5
          +e.icon.icon-basket.SPAN
          +e.num-primary.P 3500 грн
        +b.btn-menu.BUTTON
              +e.line.--top
              +e.line.--center
              +e.line.--bottom   
  +b.kit-bg
    +e.left
    +e.right
  +b.kit-wrap
    +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
      +b.kit
        +e.title
          +e.title-link.A(href='#') #[+e.title-icon.icon-kit.SPAN] Конструктор матрасов
        +e.list 
          each element in kitData
            +b.item-link.A(href='#') 
              +e.icon.SPAN(class=element.class) 
              +e.name.P= element.name