include ../../mixins/index



+b.content(id="modal-1")
  +b.form.js-form-ajax.FORM(action="https://httpbin.org/post" id="form-visit" method="POST" enctype="multipart/form-data")
    +e.title.H3 Запись на прием
    +e.item-wrap
      +e.item-inp.dim.INPUT(id = 'name-visit' name="name" type="text" data-rule="required|name" placeholder="Name")
    +e.item-wrap
      +e.item-inp.dim.INPUT(id = 'phone-visit' name="tel" type="tel" data-rule="required" placeholder="+380 (__) ___ __ __")
    +b.btn-submit.btn.BUTTON(data-micromodal-close type="submit") Отправить

+b.content(id="modal-2")
  +b.form.js-form-ajax.FORM(action="https://httpbin.org/post" id="form-select" method="POST" enctype="multipart/form-data")
    +e.title.H3 Индивидуальный подбор матраса
    +e.item-wrap
      +e.item-inp.dim.INPUT(id = 'name-visit' name="name" type="text" data-rule="required|name" placeholder="Name")
    +e.item-wrap
      +e.item-inp.dim.INPUT(id = 'phone-select' name="tel" type="tel" data-rule="required|phone" placeholder="+380 (__) ___ __ __")
    +b.btn-submit.btn.BUTTON(data-micromodal-close type="submit") Отправить

+b.content(id="modal-3")
  +b.form.js-form-ajax.FORM(action="https://httpbin.org/post" id="form-feedback" method="POST" enctype="multipart/form-data")
    +e.title.H3 Обратный звонок
    +e.item-wrap
      +e.item-inp.dim.INPUT(id = 'name-visit' name="name" type="text" data-rule="required|name" placeholder="Name")
    +e.item-wrap
      +e.item-inp.dim.INPUT(id = 'phone-feedback' name="tel" type="tel" data-rule="required|phone" placeholder="+380 (__) ___ __ __")
    +b.btn-submit.btn.BUTTON(data-micromodal-close type="submit") Отправить