include ../../mixins/index

+b.our-link-wrap
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.our-link
      +e.panel.--adaptive
        +e.panel-link.--head.A О нас
        +e.panel-link.--head.A Система Заботы Gash Care
        +e.panel-link.--head.A Оплата и доставка
        +e.panel-link.--head.A Контакты
        +e.panel-link.--head.A Личный кабинет
      +e.panel
        +e.panel-title Каталог матрасов
        +e.panel-link.A Детские матрасы
        +e.panel-link.A Футоны и топперы
        +e.panel-link.A Евро пружинники
        +e.panel-link.A ГДР пружинники
        +e.panel-link.A Авторские матрасы
        +e.panel-link.A Евро беспружинники
        +e.panel-link.A Беспружинники Мега
        +e.panel-link.A Односторонние матрасы
      +e.panel
        +e.panel-title Энциклопедия матрасов
        +e.panel-link.A Все про мемори
        +e.panel-link.A Все про натуральные материалы
        +e.panel-link.A Все про пену (ппу или поролон)
      +e.panel
        +e.panel-title Новости
        +e.panel-link.A Записки мастера
        +e.panel-link.A Наши новинки
        +e.panel-link.A Наши лучшие рецепты
        +e.panel-link.A Промышленный шпионаж
      +e.panel
        +e.panel-title Сопутствующие товары
        +e.panel-link.A Наматрасники
        +e.panel-link.A Подушки
        +e.panel-link.A Одеяла
        +e.panel-link.A Ламельные каркасы
        +e.panel-link.A StomaGash
        +e.panel-link.A Льняные трусы
      