
<div class="error-wrap">
  <section class="breadcrumbs-wrap">
    <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
      <div class="breadcrumbs"><a class="breadcrumbs__link" href="../templates/">Главная<span class="breadcrumbs__link breadcrumbs__link--slash">/</span></a><a class="breadcrumbs__link" href="#">Название<span class="breadcrumbs__link breadcrumbs__link--slash">/</span></a><span class="breadcrumbs__link">Название</span>
      </div>
    </div>
  </section>
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="g-row g-row--appearance_spaced g-row--space_none">
      <div class="g-cell g-cols g-cols--12 g-cols--6-lg">
        <div class="error-img"><img class="error-img__photo" src="../static/img/error-img-1.png" alt="photo error" title="photo error"/>
        </div>
      </div>
      <div class="g-cell g-cols g-cols--12 g-cols--6-lg">
        <div class="error-content">
          <h1 class="error-content__title">Страница не найдена
          </h1>
          <p class="error-content__text">
            Вы находитесь здесь потому, что запрашиваемаястраница не существует или была перемещена по
            другому адресу.
          </p>
          <button class="btn btn--left">На главную
          </button>
          <button class="btn btn--right">Контакты
          </button>
        </div>
      </div>
    </div>
  </div>
</div>