extends ./base

block header
  include ./element/header

block main
  main.main
    include ./home/basic
    include ./home/goods
    include ./home/advantages
    include ./home/conditions
    include ./home/blog
    include ./home/encyclopedia
    include ./home/subscription
    
block footer
  include ./element/footer