extends ./base

block header
  - const linkLogo = true
  include ./element/header

block main
  main.main
    include ./contact/body-contact
    include ./element/our-links

block footer
  include ./element/footer