extends ./base

block title
  title=  "404"

block header
  - const linkLogo = true
  include ./element/header

block main
  main.main
    include ./404/error
    include ./element/our-links

block footer
  include ./element/footer