
<header class="head2-wrap">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="head2"><a class="head2__logo2" href="../templates/page-index.html">SHOP SHOP</a>
      <nav class="navbar">
        <ul class="navbar__list">
          <li class="navbar__item"><a class="navbar__link" href="../templates/page-index.html">Home</a>
          </li>
          <li class="navbar__item"><a class="navbar__link" href="../templates/page-index.html">Catalog</a>
          </li>
          <li class="navbar__item"><a class="navbar__link" href="../templates/page-index.html">Payment and delivery</a>
          </li>
          <li class="navbar__item"><a class="navbar__link" href="../templates/page-index.html">Contacts</a>
          </li>
          <li class="navbar__item"><a class="navbar__link" href="../templates/page-index.html">About us</a>
          </li>
        </ul>
      </nav><span class="head2__search icon-search2"></span>
    </div>
  </div>
</header>