
<footer class="footer-wrap">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="footer"> 
      <div class="footer__logo"><img class="footer__logo footer__logo--img" src="../../static/img/logo.png" alt="logo" title="logo"/>
      </div>
      <div class="contact"> 
        <p class="contact__title">Наши контакты
        </p><a class="contact__phone"><span>+38(096)747 53 98</span>  </a><a class="contact__phone"><span>+38(096)747 53 98</span> <br/></a><a class="contact__mail"><span class="contact__mail contact__mail--icon icon_mail">&#xe076;</span> alexgash8@gmail.com</a>
      </div>
      <div class="schedule">
        <div class="schedule__title">График работы
        </div>
        <div class="schedule__time">с 8:00 до 21:00
        </div>
        <div class="schedule__weekends">В субботу:с 9:00 до 20:00 
        </div>
        <div class="schedule__weekends">В воскресенье: с 10:00 до 19:00
        </div>
      </div>
      <div class="social">
        <p class="social__title">Мы в социальных сетях
        </p>
        <div class="social__net"><a class="social__link"><span class="social__link social__link--icon social_instagram_square">&#xe0c8;</span> Instagram</a><a class="social__link"><span class="social__link social__link--icon social_youtube">&#xe0a3;</span> YouTube</a><a class="social__link"><span class="social__link social__link--icon social_facebook">&#xe093;</span> Facebook</a>
        </div>
        <div class="social__text">© GASH 2018. Все права защищены
        </div>
      </div>
    </div>
  </div>
</footer>