
<div class="content" id="modal-1">
  <form class="form js-form-ajax" action="https://httpbin.org/post" id="form-visit" method="POST" enctype="multipart/form-data">
    <h3 class="form__title">Запись на прием
    </h3>
    <div class="form__item-wrap"><input class="form__item-inp dim" id="name-visit" name="name" type="text" data-rule="required|name" placeholder="Name"/>
    </div>
    <div class="form__item-wrap"><input class="form__item-inp dim" id="phone-visit" name="tel" type="tel" data-rule="required" placeholder="+380 (__) ___ __ __"/>
    </div>
    <button class="btn-submit btn" data-micromodal-close type="submit">Отправить
    </button>
  </form>
</div>
<div class="content" id="modal-2">
  <form class="form js-form-ajax" action="https://httpbin.org/post" id="form-select" method="POST" enctype="multipart/form-data">
    <h3 class="form__title">Индивидуальный подбор матраса
    </h3>
    <div class="form__item-wrap"><input class="form__item-inp dim" id="name-visit" name="name" type="text" data-rule="required|name" placeholder="Name"/>
    </div>
    <div class="form__item-wrap"><input class="form__item-inp dim" id="phone-select" name="tel" type="tel" data-rule="required|phone" placeholder="+380 (__) ___ __ __"/>
    </div>
    <button class="btn-submit btn" data-micromodal-close type="submit">Отправить
    </button>
  </form>
</div>
<div class="content" id="modal-3">
  <form class="form js-form-ajax" action="https://httpbin.org/post" id="form-feedback" method="POST" enctype="multipart/form-data">
    <h3 class="form__title">Обратный звонок
    </h3>
    <div class="form__item-wrap"><input class="form__item-inp dim" id="name-visit" name="name" type="text" data-rule="required|name" placeholder="Name"/>
    </div>
    <div class="form__item-wrap"><input class="form__item-inp dim" id="phone-feedback" name="tel" type="tel" data-rule="required|phone" placeholder="+380 (__) ___ __ __"/>
    </div>
    <button class="btn-submit btn" data-micromodal-close type="submit">Отправить
    </button>
  </form>
</div>