
<div class="our-link-wrap">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="our-link">
      <div class="our-link__panel"> <a class="our-link__panel-link our-link__panel-link--head">О нас</a><a class="our-link__panel-link our-link__panel-link--head">Система Заботы Gash Care</a><a class="our-link__panel-link our-link__panel-link--head">Оплата и доставка</a><a class="our-link__panel-link our-link__panel-link--head">Контакты</a><a class="our-link__panel-link our-link__panel-link--head">Личный кабинет</a>
      </div>
      <div class="our-link__panel">
        <div class="our-link__panel-title">Каталог матрасов
        </div><a class="our-link__panel-link">Детские матрасы</a><a class="our-link__panel-link">Футоны и топперы</a><a class="our-link__panel-link">Евро пружинники</a><a class="our-link__panel-link">ГДР пружинники</a><a class="our-link__panel-link">Авторские матрасы</a><a class="our-link__panel-link">Евро беспружинники</a><a class="our-link__panel-link">Беспружинники Мега</a><a class="our-link__panel-link">Односторонние матрасы</a>
      </div>
      <div class="our-link__panel">
        <div class="our-link__panel-title">Энциклопедия матрасов
        </div><a class="our-link__panel-link">Все про мемори</a><a class="our-link__panel-link">Все про натуральные материалы</a><a class="our-link__panel-link">Все про пену (ппу или поролон)</a>
      </div>
      <div class="our-link__panel">
        <div class="our-link__panel-title">Новости
        </div><a class="our-link__panel-link">Записки мастера</a><a class="our-link__panel-link">Наши новинки</a><a class="our-link__panel-link">Наши лучшие рецепты</a><a class="our-link__panel-link">Промышленный шпионаж</a>
      </div>
      <div class="our-link__panel">
        <div class="our-link__panel-title">Сопутствующие товары
        </div><a class="our-link__panel-link">Наматрасники</a><a class="our-link__panel-link">Подушки</a><a class="our-link__panel-link">Одеяла</a><a class="our-link__panel-link">Ламельные каркасы</a><a class="our-link__panel-link">StomaGash</a><a class="our-link__panel-link">Льняные трусы</a>
      </div>
    </div>
  </div>
</div>