include ../../mixins/index

-
  const newData = [
        {
          path: '../static/img/home/blog-img-2.jpg',
          title:'Ортопедический матрас Dormisan Пульман',
          text: 'Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности',
          date: '29 Декабря 2018',
        },
        {
          path: '../static/img/text/body-text-img-2.jpg',
          title:'Как измерить высоту матраса?',
          text: 'Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности',
          date: '27 Декабря 2018',
        },
        {   
          path: '../static/img/home/blog-img-3.jpg',
          title:'Купить тонкий матрас для дивана',
          text: 'Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности',
          textEnd:'стены. Для улучшения сцепления материала со стеной, мы грунтуем поверхность, и это дает нам много преимуществ. Такие материалы как: штукатурка, краска и другие, достаточно хорошо впитываются в обработанную поверхность, и лучше держаться на ней. ',
          date: '26 Декабря 2018',
        },
        {
          path: '../static/img/text/body-text-img-3.jpg',
          title:'Как измерить высоту матраса?',
          text: 'Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности',
          date: '27 Декабря 2018',
        },
      ]

-
  const crumbsTextData = [
        {
          name: 'Главная',
          path: '../templates/',
        },
        {
          name: 'Название',
          path: '#',
        },
        {
          name: 'Название',
          path: '#',
        },
      ]

-
  const listData = [
    {
      text: 'Вот вам яркий пример современных тенденций - начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки своевременного выполнения сверхзадачи.',
    },
    {
      text: 'Убежденность некоторых оппонентов способствует подготовке и реализации системы обучения кадров, соответствующей насущным потребностям.',
    },
    {
      text: 'Таким образом, начало повседневной работы по формированию позиции предоставляет широкие возможности для системы обучения кадров, соответствующей насущным потребностям!',
    },
  ]

-
  const tabData = [
    {
      item: 'Строка',
    },
    {
      item: 'Строка',
    },
    {
      item: 'Строка',
    },
    {
      item: 'Строка',
    },
  ]

+b.wrap
  +createCrumbs(crumbsTextData)
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.g-row.--appearance_spaced.--space_none
      +b.g-cell.g-cols--12.--9-md
        +b.body-new.SECTION
          +e.title.H1 Название новости
          +e.main-pic
            +e.main-pic--photo.IMG(src="../static/img/text/body-text-img-1.jpg" alt="photo main" title='photo main')
          +e.text.--light.P 25 Декабря 2018
          +e.text.--bold.P Есть над чем задуматься: активно развивающиеся страны третьего мира 
                  | могут быть рассмотрены исключительно в разрезе маркетинговых и финансовых 
                  | предпосылок. А еще реплицированные с зарубежных источников, современные 
                  | исследования могут быть объективно рассмотрены соответствующими инстанциями. 
          +e.text.P В целом, конечно, высокотехнологичная концепция общественного уклада 
                  | обеспечивает актуальность соответствующих условий активизации. #[+e.text.--color.SPAN Современные технологии] 
                  | достигли такого уровня, что существующая теория напрямую зависит 
                  | от прогресса профессионального сообщества. И нет сомнений, что элементы 
                  | политического процесса освещают чрезвычайно интересные особенности картины в 
                  | целом, однако конкретные выводы, разумеется, обнародованы. А еще интерактивные 
                  | прототипы описаны максимально подробно.
          +e.list-title.H2 Купить тонкий матрас для дивана
          +b.list.UL
            each element in listData
              +e.item.LI= element.text
          +e.text.P ологии достигли такого уровня, что существующая теория напрямую зависит от
                  | прогресса профессионального сообщества. И нет сомнений, что элементы 
                  | политического процесса освещают чрезвычайно интересные особенности картины 
                  | в целом, однако конкретные выводы, разумеется, обнародованы. А еще интерактивные 
                  | прототипы описаны максимально подробно.
          +e.list-title.--num.H2 Купить тонкий матрас для дивана
          +b.list-num.UL
            each element in listData
              +e.item.LI= element.text
          +e.text.P ологии достигли такого уровня, что существующая теория напрямую зависит от
                  | прогресса профессионального сообщества. И нет сомнений, что элементы 
                  | политического процесса освещают чрезвычайно интересные особенности картины 
                  | в целом, однако конкретные выводы, разумеется, обнародованы. А еще интерактивные 
                  | прототипы описаны максимально подробно.
          +b.ds-table.--styling_default.--appearance_autofill-card.TABLE  
            +e.head.THEAD
                +e.cell.--head.TH Строка
                +e.cell.--head.TH Строка
                +e.cell.--head.TH Строка
                +e.cell.--head.TH Строка
                +e.cell.--head.TH Строка
            +b.TBODY
                each element in tabData
                  +e.row.TR
                    +e.cell--column.TD= element.item
                    +e.cell--column.TD= element.item
                    +e.cell--column.TD= element.item
                    +e.cell--column.TD= element.item
                    +e.cell--column.TD= element.item
          +e.text--utterance.P ологии достигли такого уровня, что существующая теория напрямую 
                              | зависит от прогресса профессионального сообщества. И нет сомнений, 
                              | что элементы политического 
          +e.text.P ологии достигли такого уровня, что существующая теория напрямую зависит от
                  | прогресса профессионального сообщества. И нет сомнений, что элементы 
                  | политического процесса освещают чрезвычайно интересные особенности картины 
                  | в целом, однако конкретные выводы, разумеется, обнародованы. А еще интерактивные 
                  | прототипы описаны максимально подробно.
          +b.panel
            +e.link.A
              +e.link-img.IMG(src="../static/img/text/icon-vk-color.png" alt="photo man" title='photo icon')
            +e.link.A
              +e.link-img.IMG(src="../static/img/text/icon-fb-color.png" alt="photo icon" title='photo icon')
            +e.link.A
              +e.link-img.IMG(src="../static/img/text/icon-tw-color.png" alt="photo icon" title='photo icon')
            +e.link.A
              +e.link-img.IMG(src="../static/img/text/icon-g-color.png" alt="photo icon" title='photo icon')
            +e.link.A
              +e.link-img.IMG(src="../static/img/text/icon-mail-color.png" alt="photo icon" title='photo icon')
            +e.link.A
              +e.link-img.IMG(src="../static/img/text/icon-print-color.png" alt="photo icon" title='photo icon')
            +e.link.A
              +e.link-img.IMG(src="../static/img/text/icon-plus-color.png" alt="photo icon" title='photo icon')
      +b.g-cell.g-cols--3
        +b.new.ASIDE
            each element in newData
              +b.card
                +creteCard(element)