include ../../mixins/index

-
  const advantagesData = [
        {
          adTitle:'Ремонтируем некачественные фабричные матрасы',
          adClass:'icon-scrissors',
          adText:'(перешиваем чехлы, вшиваем молнии, повышаем жесткость, укрепляем периметр, приводим к своим стандартам сна)',
        },
        {
          adTitle:'Заботимся через систему  Gash Care',
          adClass:'icon-heart',
          adText:'мы создаем и оттачиваем реальную аналитическую систему удовольствия  клиентов',
        },
        {
          adTitle:'Открываем сокровенное сокровенные',
          adClass:'icon-info',
          adText:'технические тайны в нашей Энциклопедии матрасов, ручаемся - ее наполнение и качество подачи информации Вас приятно удивит',
        },
        {
          adTitle:'Имеем мощнейшую YouTube библиотеку',
          adClass:'icon-youtube-line',
          adText:'такого обилия высококачественной информации по теме матрасов Вы еще не видели!',
        },
        {
          adTitle:'Корректируем неудачно подобранную жесткость',
          adClass:'icon-leaf',
          adText:'(смягчаем, повышаем жесткость, улучшаем комфорт, выстраиваем качественный пирог ортопедического комфорта), наши матрасы - ЗА СВОЙ СЧЕТ',
        },
        {
          adTitle:'Прямой контакт с мастером с мастером матрасов',
          adClass:'icon-shield',
          adText:'создателем мастерской ЛИЧНО = матрас из первых рук от производителя',
        },
        {
          adTitle:'Гарантия 5 лет на ЛЮБУЮ претензию',
          adClass:'icon-shield',
          adText:'решаем любую проблему вплоть до возврата денег без лишних вопросов - в нашей обойме исключительно довольные клиенты!',
        },
      ]

+b.advantages-wrap.SECTION
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.advantages
      +b.bar.--big
        +e.img.IMG(src="../static/img/home/advant-img-1.jpg" alt="advantages bar")
        +e.title.--big.H3 #[+e.bar-title.--color.SPAN Чем мы лучше?] #[+b.BR] Наши особенные особенности
      +createAdvantagesCards(advantagesData)
        

  