include ../../mixins/index

-
  const basicSlideData = [
        {
          patch: '../static/img/home/basic-img-1.jpg',
          title:'Энциклопедия матрасов',
          subtitle: 'Внезапно, реплицированные с зарубежных источников, современные исследования освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, ограничены исключительно образом мышления.',
        },
        {
          patch: '../static/img/home/basic-img-3.jpg',
          title:'Энциклопедия матрасов',
          subtitle: 'Внезапно, реплицированные с зарубежных источников, современные исследования освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, ограничены исключительно образом мышления.',
        },
        {
          patch: '../static/img/home/basic-img-4.jpg',
          title:'Энциклопедия матрасов',
          subtitle: 'Внезапно, реплицированные с зарубежных источников, современные исследования освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, ограничены исключительно образом мышления.',
        },
        {
          patch: '../static/img/home/basic-img-1.jpg',
          title:'Энциклопедия матрасов',
          subtitle: 'Внезапно, реплицированные с зарубежных источников, современные исследования освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, ограничены исключительно образом мышления.',
        },
        {
          patch: '../static/img/home/basic-img-3.jpg',
          title:'Энциклопедия матрасов',
          subtitle: 'Внезапно, реплицированные с зарубежных источников, современные исследования освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, ограничены исключительно образом мышления.',
        },
      ]

+b.basic-wrap.SECTION
  +b.g-row.--appearance_spaced.--space_none
    +b.g-cell.g-cols--12.--6-lg 
      +b.basic-slider.single-item
        +createBasicSlider(basicSlideData)
    +b.g-cell.g-cols--12.--6-lg
      +b.basic-tiles
        +b.item.--top
          +e.img.IMG(src="../static/img/home/basic-img-2.jpg" alt="photo man" title='photo man')
          +e.text
            +e.text-title.H2 Приветствует
            +e.text-subtitle.P Киевская мастерская матрасов GASH!
        +b.item.--left
          +e.img.IMG(src="../static/img/home/basic-img-3.jpg" alt="photo man" title='photo man')
          +e.text
            +e.text-title.H2 Приветствует
            +e.text-subtitle.P Киевская мастерская матрасов GASH!
        +b.item.--right
          +e.img.IMG(src="../static/img/home/basic-img-4.jpg" alt="photo man" title='photo man')
          +e.text
            +e.text-title.H2 Приветствует
            +e.text-subtitle.P Киевская мастерская матрасов GASH!
        
