include ../../mixins/index

-
  const goodsData = [
        {
          goodsName:'Матрас Дабл ',
          goodsSerial:'Детские беспружинные матрасы',
          goodsVendorCode:'004',
          goodsRating: 3,
          table:[
            {
              goodsFlexure:'2.9 см',
              goodsRigidity:'4.2 из 5.0 (умерено жестк)',
            },
            {
              goodsFlexure:'3.9 см',
              goodsRigidity:'3.6 из 5.0(среднежесткo)',
            },
          ],
          goodsHeight:'см',
          goodsBulk:'0.3 м. куб.',
          goodsOldPrice:'7500',
          goodsWeight:'0.00 кг',
          goodsType:'Беспружинник',
          goodsNewPrice:'6 500 грн',
        },
        {
          goodsName:'Тучка Мемо',
          goodsSerial:'Детские беспружинные матрасы',
          goodsVendorCode:'004',
          goodsRating: 2,
          table:[
            {
              goodsFlexure:'2.9 см',
              goodsRigidity:'4.2 из 5.0 (умерено жестк)',
            },
            {
              goodsFlexure:'3.9 см',
              goodsRigidity:'3.6 из 5.0(среднежесткo)',
            },
          ],
          goodsHeight:'см',
          goodsBulk:'0.3 м. куб.',
          goodsOldPrice:'7500',
          goodsWeight:'0.00 кг',
          goodsType:'Беспружинник',
          goodsNewPrice:'6 500 грн',
        },
        {
          goodsName:'Матрас Дабл Тучка Мемо',
          goodsSerial:'Детские беспружинные матрасы',
          goodsVendorCode:'004',
          goodsRating: 5,
          table:[
            {
              goodsFlexure:'2.9 см',
              goodsRigidity:'4.2 из 5.0 (умерено жестк)',
            },
            {
              goodsFlexure:'3.9 см',
              goodsRigidity:'3.6 из 5.0(среднежесткo)',
            },
          ],
          goodsHeight:'см',
          goodsBulk:'0.3 м. куб.',
          goodsOldPrice:'7500',
          goodsWeight:'0.00 кг',
          goodsType:'Беспружинник',
          goodsNewPrice:'6 500 грн',
        },
      ]

+b.goods-wrap.SECTION
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.goods-title.title-secondary.H2 Наши  лучшие матрасы
    +b.goods-slider
      +createGoodsSlider(goodsData)
      