include ../../mixins/index
+b.goods-wrap
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.goods
      +b.goods-pic
        +e.photo
        +e.stock.P
        +e.rating
          +e.rating-icon
            +e.rating-icon--color.IMG
            +e.rating-icon--transparent.IMG
          +e.rating-text
      +b.goods-table
        +b.ds-table
          +e.caption.CAPTION
            +b.ds-caption.--size_3 Матрас Дабл Тучка Мемо
            +b.ds-caption.--size_6 #[+b.ds-caption--bold.SPAN Серия:] Детские беспружинные матрасы #[+b.ds-caption--revers.SPAN Артикул: 004]