include ../../mixins/index

+b.subscription-wrap.SECTION
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.subscription
      +e.title.H2 Станьте частью системы Gash Care”, мы сможем 
                | предложить оптимальное решение Вашей проблемы!
      +b.form.js-form-ajax.FORM(action="https://httpbin.org/post" id="form-small" method="POST" enctype="multipart/form-data")
        +e.input-wrap
          +e.input-tel.dim.INPUT(id = 'phone' name="tel" type="tel" data-rule="required|phone" placeholder="+38 (___) ___ __ __")
        +e.btn-submit.btn.BUTTON(type="submit") Отправить