@font-face
	font-family: "svgfont"
	src: url('./../fonts/svgfont.woff2') format('woff2'), url('./../fonts/svgfont.woff') format('woff'), url('./../fonts/svgfont.eot'), url('./../fonts/svgfont.eot?#iefix') format('embedded-opentype'), url('./../fonts/svgfont.ttf') format('truetype')
	font-weight: normal
	font-style: normal

$icon-box: "\EA01"
$icon-calendar-time: "\EA02"
$icon-car: "\EA03"
$icon-chat: "\EA04"
$icon-chat-people: "\EA05"
$icon-coverlet: "\EA06"
$icon-cushion: "\EA07"
$icon-facebook: "\EA08"
$icon-frame: "\EA09"
$icon-mattress-cov: "\EA10"
$icon-mattress: "\EA11"
$icon-pants: "\EA12"
$icon-percent: "\EA13"
$icon-scrissors: "\EA14"
$icon-shield: "\EA15"
$icon-stomagash: "\EA16"
$icon-youtube-line: "\EA17"
$icon-youtube: "\EA18"
$icon-mail: "\EA19"
$icon-leaf: "\EA20"
$icon-instagram: "\EA21"
$icon-info: "\EA22"
$icon-heart: "\EA23"
$icon-hand: "\EA24"
$icon-search: "\EA25"
$icon-heart-min: "\EA26"
$icon-basket: "\EA27"
$icon-body-min: "\EA28"
$icon-kit: "\EA29"
$icon-burger: "\EA30"


%icon
	font-family: "svgfont"
	font-style: normal
	font-weight: normal
	text-rendering: auto
	speak: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

.icon, [class^="icon-"], [class*=" icon-"]
	@extend %icon
	display: inline-block

.icon-box:before
	content: $icon-box
.icon-calendar-time:before
	content: $icon-calendar-time
.icon-car:before
	content: $icon-car
.icon-chat:before
	content: $icon-chat
.icon-chat-people:before
	content: $icon-chat-people
.icon-coverlet:before
	content: $icon-coverlet
.icon-cushion:before
	content: $icon-cushion
.icon-facebook:before
	content: $icon-facebook
.icon-frame:before
	content: $icon-frame
.icon-mattress-cov:before
	content: $icon-mattress-cov
.icon-mattress:before
	content: $icon-mattress
.icon-pants:before
	content: $icon-pants
.icon-percent:before
	content: $icon-percent
.icon-scrissors:before
	content: $icon-scrissors
.icon-shield:before
	content: $icon-shield
.icon-stomagash:before
	content: $icon-stomagash
.icon-youtube-line:before
	content: $icon-youtube-line
.icon-youtube:before
	content: $icon-youtube
.icon-mail:before
	content: $icon-mail
.icon-leaf:before
	content: $icon-leaf
.icon-instagram:before
	content: $icon-instagram
.icon-info:before
	content: $icon-info
.icon-heart:before
	content: $icon-heart
.icon-hand:before
	content: $icon-hand
.icon-search:before
	content: $icon-search
.icon-heart-min:before
	content: $icon-heart-min
.icon-basket:before
	content: $icon-basket
.icon-body-min:before
	content: $icon-body-min
.icon-kit:before
	content: $icon-kit
.icon-burger:before
	content: $icon-burger
