.basic-slider
  h: 100%
  pos: relative

  .control
    bottom: 5px
    +mq-lg
      w: 40px
      h: 40px
      fs: 15px
    &--
      &prev
        +mq-lg
          top: 266px
          right: 0px
        +mq-xl
          top: 330px
      &next
        +mq-lg
          top: 226px
          right: 0px
        +mq-xl
          top: 295px

.basic-slide
  position: relative
  width: 100%
  h: 330px
  +mq-sm
    h: 523px
  +mq-xl
    h: 590px
  &::before
    content: ''
    pos: absolute
    w: 100%
    h: 100%
    background: linear-gradient(0deg, rgba(23,23,23,0.8575805322128851) 0%, rgba(255,255,255,0.04245448179271705) 64%)
  &__
    &img
      w: 100%
      h: 100%
      object-fit: cover
      object-position: center top
    &text
      pos: absolute
      w: 100%
      pa: 20px
      right: 0px
      bottom: 66px
      +mq-lg
        w: 496px
      +mq-xl
        w: 600px
    &text-title  
      color: var(--theme-accent-white)
      mb: 30px
      fw: 700
      fs: 25px
      line-height: 1.2
      +mq-md
        fs: 28px
      +mq-xl
        fs: 30px
    &text-subtitle
      fw: 400
      fs: 9px
      color: var(--theme-accent-white)
      +mq-md
        fs: 11px
      +mq-xl
        fs: 13px

  

.basic-tiles
  d: flex
  flex-wrap: wrap
  pos: relative
  +mq-lg
    h: 523px
  +mq-xl
    h: 590px
  
.item
  pos: relative
  top: -5px
  +mq-lg
    top: 0px
  +mq-xl
    h: 50%
  &__
    &img
      w: 100%
      h: 100%
      object-fit: cover
      object-position: center
    &text
      pos: absolute
      max-w: 270px
      top: 10%
      left: 10px
      +mq-md
        top: 30%
        left: 30px
      +mq-lg
        top: 20%
        left: 10px
      +mq-xl
        top: 18%
        left: 3%
      
    &text-title
      mb: 10px
      fw: 700
      fs: 20px
      color: var(--theme-text-1)
      +mq-sm
        mb: 23px
        fs: 32px
      +mq-md
        fs: 33px
      +mq-lg
        fs: 34px
      +mq-xl
        fs: 35px
    &text-subtitle
      fw: 700
      fs: 15px
      color: var(--theme-text-2)
      +mq-sm
        fs: 20px
      +mq-md
        fs: 23px
      +mq-lg
        fs: 24px
      +mq-xl
        fs: 25px
  &--
    &top
      w: 100%
    &left
      w: 50%
      +mq-sm
        w: 40%
      +mq-lg
        w: 50%
      +mq-xl
        w: 40%
    &right
      w: 50%
      +mq-sm
        w: 60%
      +mq-lg
        w: 50%
      +mq-xl
        w: 60%