//.subscription-wrap

.subscription
  d: flex
  flex-wrap: wrap
  jc: space-between
  pa: 15px 30px
  bg: var(--theme-text-2)
  br-l: 2px solid var(--theme-text-1)
  &__
    &title
      w: 100%
      color: var(--theme-accent-white)
      fs: 14px
      +mq-lg
        w: 50%
        pt: 10px
        fs: 16px

.form
  display: flex
  align-items: stretch
  flex-wrap: wrap
  justify-content: flex-start
  w: 100%
  +mq-lg
    w: 50%
  &__
    &input-wrap
      pos: relative
      w: 100%
      mr: 10px
      +mq-sm
        w: 54%
    &input-tel
      w: 100%
      ma: 10px
      pa: 16px 19px 19px 19px
      br: none
      &::placeholder
        //display: block !important
        //ml: -19px
        color: var(--theme-text-2)
        fw: 700
        fs: 8px
        //fa: center
        +mq-sm
          fs: 10px
        +mq-md
          fs: 11px
        +mq-lg
          fs: 13px
    &btn-submit
      ma: 10px
      pa: 19px 57px 16px 56px
      cursor: pointer


[data-type='validator-error']
  fs: 11px
  pos: absolute
  z-index: 10
  mt: -5px
  color: var(--theme-text-2)
  bg: var(--theme-text-1)
  box-shadow: 0px 6px 2px -2px rgba(199, 51, 44, 0.3)
  pa: 4px 10px
  br-radius: 1px
  pointer-events: none
  &::before
    content: ''
    w: 0
    h: 0
    top: -5px
    pos: absolute
    left: 6px
    br-l: 5px solid rgba(0, 0, 0, 0)
    br-r: 5px solid rgba(0, 0, 0, 0)
    br-b: 5px solid var(--theme-text-1)