<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#8F67A4">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css">
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div id="app">
                        <header class="w-head">
                                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                <div class="head-b">
                                                                                          <button class="head-b__btn btn">sdfasdfasdfasdfasdfasdfasd
                                                                                          </button>
                                                                </div>
                                            </div>
                        </header>
      <main class="main">
      </main>
    </div>
    <script type="text/javascript" src="../static/js/vendor.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
  </body>
</html>