<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#8F67A4">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css">
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div id="app">
                        <header class="head-wrap">
                                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                <div class="head">
                                                                                          <div class="head__logo"><img class="head__logo head__logo--img" src="../static/img/logo.png" alt="logo" title="logo"/>
                                                                                          </div>
                                                                                    <div class="info">
                                                                                                        <nav class="navbar"><a class="navbar__link">О нас</a><a class="navbar__link">Новости</a><a class="navbar__link">Энциклопедия матрасов</a><a class="navbar__link">Gash Care</a><a class="navbar__link">Контакты</a>
                                                                                                        </nav>
                                                                                                              <div class="info__work"><a class="info__phone"><span class="info__icon icon_phone">&#xe090;</span>+38 (096) 747-5398</a>
                                                                                                                                        <div class="info__time">пн-пт: 8:00 - 21:00  •  сб: 9:00 - 20:00  •  вс: 10:00 - 19:00
                                                                                                                                        </div>
                                                                                                              </div>
                                                                                    </div>
                                                                                    <ul class="order"> 
                                                                                                              <li class="order__item"><span class="order__item order__item--color">–</span>  Запись на прием 
                                                                                                              </li>
                                                                                                              <li class="order__item"><span class="order__item order__item--color">–</span>  Индивидуальный подбор матраса 
                                                                                                              </li>
                                                                                                              <li class="order__item"><span class="order__item order__item--color">–</span>  Обратный звонок
                                                                                                              </li>
                                                                                    </ul>
                                                                </div>
                                            </div>
                        </header>
      <main class="main">
      </main>
    </div>
    <script type="text/javascript" src="../static/js/vendor.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
  </body>
</html>