<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#8F67A4">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css">
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div id="app">
                        <header class="head-wrap">
                          <!--+b.myModal(id='innerModal')-->
                                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                <div class="head"><a class="head__logo" href="../templates/"><img class="head__img" src="../static/img/logo.png" alt="logo" title="logo"/></a>
                                                                                    <div class="info">
                                                                                                              <nav class="navbar">
                                                                                                                                        <ul class="navbar__list">
                                                                                                                                                                  <li class="navbar__item"><a class="navbar__link" href="../templates/page-404.html">О нас</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="navbar__item"><a class="navbar__link" href="../templates/page-text.html">Новости</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="navbar__item"><a class="navbar__link" href="../templates/page-404.html">Энциклопедия матрасов</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="navbar__item"><a class="navbar__link" href="../templates/page-404.html">Gash Care</a>
                                                                                                                                                                  </li>
                                                                                                                                                                  <li class="navbar__item"><a class="navbar__link" href="../templates/page-contact.html">Контакты</a>
                                                                                                                                                                  </li>
                                                                                                                                        </ul>
                                                                                                              </nav>
                                                                                                              <div class="info__work"><a class="info__phone" href="tel:+38(096)747 53 98"><span class="info__icon icon_phone">&#xe090;</span>+38 (096) 747-5398</a>
                                                                                                                                        <div class="info__time">пн-пт: 8:00 - 21:00  •  сб: 9:00 - 20:00  •  вс: 10:00 - 19:00
                                                                                                                                        </div>
                                                                                                              </div>
                                                                                    </div>
                                                                                    <div class="order">
                                                                                                        <button class="btn-trigger js-modal-trigger" data-modal-name="modal-1"><span class="btn-trigger__line">–</span> Запись на прием
                                                                                                        </button>
                                                                                                        <button class="btn-trigger js-modal-trigger" data-modal-name="modal-2"><span class="btn-trigger__line">–</span> Индивидуальный подбор матраса 
                                                                                                        </button>
                                                                                                        <button class="btn-trigger js-modal-trigger" data-modal-name="modal-3"><span class="btn-trigger__line">–</span> Обратный звонок
                                                                                                        </button>
                                                                                    </div>
                                                                                    <button class="btn-menu" id="js-menu-trigger">
                                                                                                              <div class="btn-menu__line btn-menu__line--top">
                                                                                                              </div>
                                                                                                              <div class="btn-menu__line btn-menu__line--center">
                                                                                                              </div>
                                                                                                              <div class="btn-menu__line btn-menu__line--bottom">         
                                                                                                              </div>
                                                                                    </button>
                                                                </div>
                                            </div>
                        </header>
      <main class="main">
                                <div class="error-wrap">
                                                                  <section class="breadcrumbs-wrap">
                                                                                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                                                                      <div class="breadcrumbs"><a class="breadcrumbs__link" href="../templates/">Главная<span class="breadcrumbs__link breadcrumbs__link--slash">/</span></a><a class="breadcrumbs__link" href="#">Название<span class="breadcrumbs__link breadcrumbs__link--slash">/</span></a><span class="breadcrumbs__link">Название</span>
                                                                                                                      </div>
                                                                                            </div>
                                                                  </section>
                                                          <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                                    <div class="g-row g-row--appearance_spaced g-row--space_none">
                                                                                                              <div class="g-cell g-cols g-cols--12 g-cols--6-lg">
                                                                                                                                        <div class="error-img"><img class="error-img__photo" src="../static/img/error-img-1.png" alt="photo error" title="photo error"/>
                                                                                                                                        </div>
                                                                                                              </div>
                                                                                                              <div class="g-cell g-cols g-cols--12 g-cols--6-lg">
                                                                                                                                        <div class="error-content">
                                                                                                                                                                          <h1 class="error-content__title">Страница не найдена
                                                                                                                                                                          </h1>
                                                                                                                                                                          <p class="error-content__text">
                                                                                                                                                                            Вы находитесь здесь потому, что запрашиваемаястраница не существует или была перемещена по
                                                                                                                                                                            другому адресу.
                                                                                                                                                                          </p><a class="btn btn--left" href="../templates/">На главную</a><a class="btn btn--right" href="../templates/page-contact.html">Контакты</a>
                                                                                                                                        </div>
                                                                                                              </div>
                                                                                    </div>
                                                          </div>
                                </div>
                                <div class="our-link-wrap">
                                                          <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                                    <div class="our-link">
                                                                                                                      <div class="our-link__panel our-link__panel--adaptive"><a class="our-link__panel-link our-link__panel-link--head">О нас</a><a class="our-link__panel-link our-link__panel-link--head">Система Заботы Gash Care</a><a class="our-link__panel-link our-link__panel-link--head">Оплата и доставка</a><a class="our-link__panel-link our-link__panel-link--head">Контакты</a><a class="our-link__panel-link our-link__panel-link--head">Личный кабинет</a>
                                                                                                                      </div>
                                                                                                                      <div class="our-link__panel">
                                                                                                                                                        <div class="our-link__panel-title">Каталог матрасов
                                                                                                                                                        </div><a class="our-link__panel-link">Детские матрасы</a><a class="our-link__panel-link">Футоны и топперы</a><a class="our-link__panel-link">Евро пружинники</a><a class="our-link__panel-link">ГДР пружинники</a><a class="our-link__panel-link">Авторские матрасы</a><a class="our-link__panel-link">Евро беспружинники</a><a class="our-link__panel-link">Беспружинники Мега</a><a class="our-link__panel-link">Односторонние матрасы</a>
                                                                                                                      </div>
                                                                                                                      <div class="our-link__panel">
                                                                                                                                                        <div class="our-link__panel-title">Энциклопедия матрасов
                                                                                                                                                        </div><a class="our-link__panel-link">Все про мемори</a><a class="our-link__panel-link">Все про натуральные материалы</a><a class="our-link__panel-link">Все про пену (ппу или поролон)</a>
                                                                                                                      </div>
                                                                                                                      <div class="our-link__panel">
                                                                                                                                                        <div class="our-link__panel-title">Новости
                                                                                                                                                        </div><a class="our-link__panel-link">Записки мастера</a><a class="our-link__panel-link">Наши новинки</a><a class="our-link__panel-link">Наши лучшие рецепты</a><a class="our-link__panel-link">Промышленный шпионаж</a>
                                                                                                                      </div>
                                                                                                                      <div class="our-link__panel">
                                                                                                                                                        <div class="our-link__panel-title">Сопутствующие товары
                                                                                                                                                        </div><a class="our-link__panel-link">Наматрасники</a><a class="our-link__panel-link">Подушки</a><a class="our-link__panel-link">Одеяла</a><a class="our-link__panel-link">Ламельные каркасы</a><a class="our-link__panel-link">StomaGash</a><a class="our-link__panel-link">Льняные трусы</a>
                                                                                                                      </div>
                                                                                    </div>
                                                          </div>
                                </div>
      </main>
                        <footer class="footer-wrap">
                                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                <div class="footer"><a class="footer__logo" href="../templates/"><img class="footer__logo footer__logo--img" src="../static/img/logo.png" alt="logo" title="logo"/></a>
                                                                                    <div class="contact"> 
                                                                                                              <p class="contact__title">Наши контакты
                                                                                                              </p><a class="contact__phone" href="tel:+38(096)747 53 98"><span>+38(096)747 53 98</span>  </a><a class="contact__phone" href="tel:+38(096)747 53 98"><span>+38(096)747 53 98</span> <br/></a><a class="contact__mail" href="mailto:alexgash8@gmail.com"><span class="contact__mail contact__mail--icon icon_mail">&#xe076;</span> alexgash8@gmail.com</a>
                                                                                    </div>
                                                                                    <div class="schedule">
                                                                                                              <div class="schedule__title">График работы
                                                                                                              </div>
                                                                                                              <div class="schedule__time">с 8:00 до 21:00
                                                                                                              </div>
                                                                                                              <div class="schedule__weekends">В субботу:с 9:00 до 20:00 
                                                                                                              </div>
                                                                                                              <div class="schedule__weekends">В воскресенье: с 10:00 до 19:00
                                                                                                              </div>
                                                                                    </div>
                                                                                    <div class="social">
                                                                                                              <p class="social__title">Мы в социальных сетях
                                                                                                              </p>
                                                                                                              <div class="social__net"><a class="social__link" href="https://www.instagram.com"><span class="social__link-icon icon-instagram"></span> Instagram</a><a class="social__link" href="https://www.youtube.com/"><span class="social__link-icon icon-youtube"></span> YouTube</a><a class="social__link" href="https://www.facebook.com/"><span class="social__link-icon icon-facebook"></span> Facebook</a>
                                                                                                              </div>
                                                                                                              <div class="social__text">© GASH 2018. Все права защищены
                                                                                                              </div>
                                                                                    </div>
                                                                </div>
                                            </div>
                        </footer>
                        <div class="modal-wrapper" id="modal-wrapper">
                                            <div class="modal modal-position modal-position--position-2 pos-abs" aria-hidden="true" id="formModal">
                                                                      <div class="modal__overlay" data-micromodal-close>
                                                                      </div>
                                                                      <div class="modal__container" id="innerModal" aria-modal="true"> 
                                                                      </div>
                                            </div>
                        </div>
                        <div class="content" id="modal-1">
                                            <form class="form js-form-ajax" action="https://httpbin.org/post" id="form-visit" method="POST" enctype="multipart/form-data">
                                                                      <h3 class="form__title">Запись на прием
                                                                      </h3>
                                                                      <div class="form__item-wrap"><input class="form__item-inp dim" id="name-visit" name="name" type="text" data-rule="required|name" placeholder="Name"/>
                                                                      </div>
                                                                      <div class="form__item-wrap"><input class="form__item-inp dim" id="phone-visit" name="tel" type="tel" data-rule="required" placeholder="+380 (__) ___ __ __"/>
                                                                      </div>
                                                                <button class="btn-submit btn" data-micromodal-close type="submit">Отправить
                                                                </button>
                                            </form>
                        </div>
                        <div class="content" id="modal-2">
                                            <form class="form js-form-ajax" action="https://httpbin.org/post" id="form-select" method="POST" enctype="multipart/form-data">
                                                                      <h3 class="form__title">Индивидуальный подбор матраса
                                                                      </h3>
                                                                      <div class="form__item-wrap"><input class="form__item-inp dim" id="name-visit" name="name" type="text" data-rule="required|name" placeholder="Name"/>
                                                                      </div>
                                                                      <div class="form__item-wrap"><input class="form__item-inp dim" id="phone-select" name="tel" type="tel" data-rule="required|phone" placeholder="+380 (__) ___ __ __"/>
                                                                      </div>
                                                                <button class="btn-submit btn" data-micromodal-close type="submit">Отправить
                                                                </button>
                                            </form>
                        </div>
                        <div class="content" id="modal-3">
                                            <form class="form js-form-ajax" action="https://httpbin.org/post" id="form-feedback" method="POST" enctype="multipart/form-data">
                                                                      <h3 class="form__title">Обратный звонок
                                                                      </h3>
                                                                      <div class="form__item-wrap"><input class="form__item-inp dim" id="name-visit" name="name" type="text" data-rule="required|name" placeholder="Name"/>
                                                                      </div>
                                                                      <div class="form__item-wrap"><input class="form__item-inp dim" id="phone-feedback" name="tel" type="tel" data-rule="required|phone" placeholder="+380 (__) ___ __ __"/>
                                                                      </div>
                                                                <button class="btn-submit btn" data-micromodal-close type="submit">Отправить
                                                                </button>
                                            </form>
                        </div>
    </div>
    <script type="text/javascript" src="../static/js/vendor.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqlb7J9FCMzqTHSUCF7crqqBF1MT-7jqI&amp;callback=initMap&amp;libraries=&amp;v=weekly" async></script>
  </body>
</html>