<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#8F67A4">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css">
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div id="app">
                        <header class="head2-wrap">
                                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                <div class="head2"><a class="head2__logo2" href="../templates/page-index.html">SHOP SHOP</a>
                                                                                    <form class="language2">
                                                                                                              <div class="language2__select" data-state="">
                                                                                                                                        <div class="language2__title" data-default="Option 0">EN
                                                                                                                                        </div>
                                                                                                                                  <div class="line">
                                                                                                                                  </div><span class="triangle2">&#9662;</span>
                                                                                                                                        <div class="language2__list"><input class="language2__input" id="singleSelect0" type="radio" name="singleSelect"/>
                                                                                                                                                                  <label class="language2__label" for="singleSelect0">EN
                                                                                                                                                                  </label><input class="language2__input" id="singleSelect2" type="radio" name="singleSelect"/>
                                                                                                                                                                  <label class="language2__label" for="singleSelect2">UA
                                                                                                                                                                  </label>
                                                                                                                                        </div>
                                                                                                              </div>
                                                                                    </form>
                                                                                    <form class="currency2">
                                                                                                              <div class="currency2__select" data-state="">
                                                                                                                                        <div class="currency2__title" data-default="Option 01">UAH
                                                                                                                                        </div>
                                                                                                                                  <div class="line">
                                                                                                                                  </div><span class="triangle2">&#9662;</span>
                                                                                                                                        <div class="currency2__list"><input class="currency2__input" id="singleSelect01" type="radio" name="singleSelect2"/>
                                                                                                                                                                  <label class="currency2__label" for="singleSelect01">UAH
                                                                                                                                                                  </label><input class="currency2__input" id="singleSelect21" type="radio" name="singleSelect2"/>
                                                                                                                                                                  <label class="currency2__label" for="singleSelect21">USD
                                                                                                                                                                  </label>
                                                                                                                                        </div>
                                                                                                              </div>
                                                                                    </form>
                                                                                    <nav class="navbar">
                                                                                                              <ul class="navbar__list">
                                                                                                                                        <li class="navbar__item"><a class="navbar__link" href="../templates/page-index.html">Home</a>
                                                                                                                                        </li>
                                                                                                                                        <li class="navbar__item"><a class="navbar__link" href="../templates/page-index.html">Catalog</a>
                                                                                                                                        </li>
                                                                                                                                        <li class="navbar__item"><a class="navbar__link" href="../templates/page-index.html">Payment and delivery</a>
                                                                                                                                        </li>
                                                                                                                                        <li class="navbar__item"><a class="navbar__link" href="../templates/page-index.html">Contacts</a>
                                                                                                                                        </li>
                                                                                                                                        <li class="navbar__item"><a class="navbar__link" href="../templates/page-index.html">About us</a>
                                                                                                                                        </li>
                                                                                                              </ul>
                                                                                    </nav><span class="head2__search icon-search2"></span><a class="basket2"> <span class="basket2__num">3</span><span class="basket2__icon icon-basket2"></span></a><a class="head2__login2"><span class="head2__login2-icon icon-login2"></span> LOGIN</a>
                                                                </div>
                                            </div>
                        </header>
                        <section class="body2-wrap">
                                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                <p class="body2">
                                                                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, vero. Repellat nisi, in labore laboriosam incidunt quibusdam temporibus velit voluptatibus sit dolor tempora dicta rerum enim aliquid ad unde porro!
                                                                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, vero. Repellat nisi, in labore laboriosam incidunt quibusdam temporibus velit voluptatibus sit dolor tempora dicta rerum enim aliquid ad unde porro!
                                                                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, vero. Repellat nisi, in labore laboriosam incidunt quibusdam temporibus velit voluptatibus sit dolor tempora dicta rerum enim aliquid ad unde porro!
                                                                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, vero. Repellat nisi, in labore laboriosam incidunt quibusdam temporibus velit voluptatibus sit dolor tempora dicta rerum enim aliquid ad unde porro!
                                                                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, vero. Repellat nisi, in labore laboriosam incidunt quibusdam temporibus velit voluptatibus sit dolor tempora dicta rerum enim aliquid ad unde porro!
                                                                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, vero. Repellat nisi, in labore laboriosam incidunt quibusdam temporibus velit voluptatibus sit dolor tempora dicta rerum enim aliquid ad unde porro!
                                                                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, vero. Repellat nisi, in labore laboriosam incidunt quibusdam temporibus velit voluptatibus sit dolor tempora dicta rerum enim aliquid ad unde porro!
                                                                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, vero. Repellat nisi, in labore laboriosam incidunt quibusdam temporibus velit voluptatibus sit dolor tempora dicta rerum enim aliquid ad unde porro!
                                                                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, vero. Repellat nisi, in labore laboriosam incidunt quibusdam temporibus velit voluptatibus sit dolor tempora dicta rerum enim aliquid ad unde porro!
                                                                </p>
                                            </div>
                        </section>
      <main class="main"></main>
                        <div class="modal-wrapper" id="modal-wrapper">
                                            <div class="modal modal-position modal-position--position-2 pos-abs" aria-hidden="true" id="formModal">
                                                                      <div class="modal__overlay" data-micromodal-close>
                                                                      </div>
                                                                      <div class="modal__container" id="innerModal" aria-modal="true"> 
                                                                      </div>
                                            </div>
                        </div>
                        <div class="content" id="modal-1">
                                            <form class="form js-form-ajax" action="https://httpbin.org/post" id="form-visit" method="POST" enctype="multipart/form-data">
                                                                      <h3 class="form__title">Запись на прием
                                                                      </h3>
                                                                      <div class="form__item-wrap"><input class="form__item-inp dim" id="name-visit" name="name" type="text" data-rule="required|name" placeholder="Name"/>
                                                                      </div>
                                                                      <div class="form__item-wrap"><input class="form__item-inp dim" id="phone-visit" name="tel" type="tel" data-rule="required" placeholder="+380 (__) ___ __ __"/>
                                                                      </div>
                                                                <button class="btn-submit btn" data-micromodal-close type="submit">Отправить
                                                                </button>
                                            </form>
                        </div>
                        <div class="content" id="modal-2">
                                            <form class="form js-form-ajax" action="https://httpbin.org/post" id="form-select" method="POST" enctype="multipart/form-data">
                                                                      <h3 class="form__title">Индивидуальный подбор матраса
                                                                      </h3>
                                                                      <div class="form__item-wrap"><input class="form__item-inp dim" id="name-visit" name="name" type="text" data-rule="required|name" placeholder="Name"/>
                                                                      </div>
                                                                      <div class="form__item-wrap"><input class="form__item-inp dim" id="phone-select" name="tel" type="tel" data-rule="required|phone" placeholder="+380 (__) ___ __ __"/>
                                                                      </div>
                                                                <button class="btn-submit btn" data-micromodal-close type="submit">Отправить
                                                                </button>
                                            </form>
                        </div>
                        <div class="content" id="modal-3">
                                            <form class="form js-form-ajax" action="https://httpbin.org/post" id="form-feedback" method="POST" enctype="multipart/form-data">
                                                                      <h3 class="form__title">Обратный звонок
                                                                      </h3>
                                                                      <div class="form__item-wrap"><input class="form__item-inp dim" id="name-visit" name="name" type="text" data-rule="required|name" placeholder="Name"/>
                                                                      </div>
                                                                      <div class="form__item-wrap"><input class="form__item-inp dim" id="phone-feedback" name="tel" type="tel" data-rule="required|phone" placeholder="+380 (__) ___ __ __"/>
                                                                      </div>
                                                                <button class="btn-submit btn" data-micromodal-close type="submit">Отправить
                                                                </button>
                                            </form>
                        </div>
    </div>
    <script type="text/javascript" src="../static/js/vendor.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqlb7J9FCMzqTHSUCF7crqqBF1MT-7jqI&amp;callback=initMap&amp;libraries=&amp;v=weekly" async></script>
  </body>
</html>