<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#8F67A4">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css">
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div id="app">
                        <header class="head-big-wrap head-big-wrap--line">
                                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                <div class="head-big">
                                                                                    <div class="language"><a class="language__link" href="#">ru</a><a class="language__link" href="#">ua</a><a class="language__link" href="#">de</a><a class="language__link" href="#">en</a>
                                                                                    </div>
                                                                                    <div class="info">
                                                                                                              <nav class="navbar"><a class="navbar__link" href="../templates/page-404.html">О нас</a><a class="navbar__link" href="../templates/page-text.html">Новости</a><a class="navbar__link" href="../templates/page-404.html">Энциклопедия матрасов</a><a class="navbar__link" href="../templates/page-404.html">Gash Care</a><a class="navbar__link" href="../templates/page-contact.html">Контакты</a>
                                                                                                              </nav><a class="info__search"><span class="info__search-icon icon-search"></span> Поиск</a>
                                                                                    </div>
                                                                                    <div class="login"><a class="login__link" href="#"><span class="login__link-icon icon-body-min"></span> Вход  <span class="login__link-slash">/</span></a><a class="login__link" href="#">Регистрация</a>
                                                                                    </div>
                                                                </div>
                                            </div>
                        </header>
                        <div class="head-big-wrap">
                                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                <div class="head-big">     
                                                                                    <div class="logo"><img class="logo__logo logo__logo--img" src="../static/img/logo.png" alt="logo" title="logo"/>
                                                                                    </div>
                                                                                    <div class="work"><a class="work__phone" href="tel:+38(096)747 53 98"><span class="work__icon icon_phone">&#xe090;</span>+38 (096) 747-5398</a>
                                                                                                              <div class="work__time">пн-пт: 8:00 - 21:00  •  сб: 9:00 - 20:00  •  вс: 10:00 - 19:00
                                                                                                              </div>
                                                                                                        <ul class="order"> 
                                                                                                                                  <li class="order__item"><span class="order__item order__item--color">–</span>  Запись на прием  
                                                                                                                                  </li>
                                                                                                                                  <li class="order__item"><span class="order__item order__item--color">–</span>  Индивидуальный подбор матраса 
                                                                                                                                  </li>
                                                                                                                                  <li class="order__item"><span class="order__item order__item--color">–</span>  Обратный звонок
                                                                                                                                  </li>
                                                                                                        </ul>
                                                                                    </div>
                                                                                    <button class="btn-big"><span class="btn-big__icon icon-heart-min"></span>
                                                                                    </button>
                                                                                    <button class="btn-big btn-big--left">
                                                                                                              <p class="btn-big__num-secondary">5
                                                                                                              </p><span class="btn-big__icon icon-basket"></span>
                                                                                                              <p class="btn-big__num-primary">3500 грн
                                                                                                              </p>
                                                                                    </button>
                                                                                    <button class="btn-menu">
                                                                                                              <div class="btn-menu__line btn-menu__line--top">
                                                                                                              </div>
                                                                                                              <div class="btn-menu__line btn-menu__line--center">
                                                                                                              </div>
                                                                                                              <div class="btn-menu__line btn-menu__line--bottom">  
                                                                                                              </div>
                                                                                    </button>
                                                                </div>
                                            </div>
                        </div>
                        <div class="kit-bg">
                                                  <div class="kit-bg__left">
                                                  </div>
                                                  <div class="kit-bg__right">
                                                  </div>
                        </div>
                        <div class="kit-wrap">
                                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                <div class="kit">
                                                                                          <div class="kit__title"><a class="kit__title-link" href="#"><span class="kit__title-icon icon-kit"></span> Конструктор матрасов</a>
                                                                                          </div>
                                                                                          <div class="kit__list"> <a class="item-link" href="#"> <span class="item-link__icon icon-mattress"> </span>
                                                                                                                                            <p class="item-link__name">МАТРАСЫ
                                                                                                                                            </p></a><a class="item-link" href="#"> <span class="item-link__icon icon-mattress-cov"> </span>
                                                                                                                                            <p class="item-link__name">НАМАТРАСНИКИ
                                                                                                                                            </p></a><a class="item-link" href="#"> <span class="item-link__icon icon-cushion"> </span>
                                                                                                                                            <p class="item-link__name">ПОДУШКИ
                                                                                                                                            </p></a><a class="item-link" href="#"> <span class="item-link__icon icon-coverlet"> </span>
                                                                                                                                            <p class="item-link__name">ОДЕЯЛА
                                                                                                                                            </p></a><a class="item-link" href="#"> <span class="item-link__icon icon-frame"> </span>
                                                                                                                                            <p class="item-link__name">ЛАМЕЛЬНЫЕ  КАРКАСЫ
                                                                                                                                            </p></a><a class="item-link" href="#"> <span class="item-link__icon icon-stomagash"> </span>
                                                                                                                                            <p class="item-link__name">STOMAGASH
                                                                                                                                            </p></a><a class="item-link" href="#"> <span class="item-link__icon icon-pants"> </span>
                                                                                                                                            <p class="item-link__name">ЛЬНЯНЫЕ ТРУСЫ
                                                                                                                                            </p></a>
                                                                                          </div>
                                                                </div>
                                            </div>
                        </div>
      <main class="main">
                                <div class="contact-wrap">
                                                                  <section class="breadcrumbs-wrap">
                                                                                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                                                                      <div class="breadcrumbs"><a class="breadcrumbs__link" href="../templates/">Главная<span class="breadcrumbs__link breadcrumbs__link--slash">/</span></a><a class="breadcrumbs__link" href="#">Название<span class="breadcrumbs__link breadcrumbs__link--slash">/</span></a><span class="breadcrumbs__link">Название</span>
                                                                                                                      </div>
                                                                                            </div>
                                                                  </section>
                                                          <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                                    <h1 class="contact-title">Контакты
                                                                                    </h1>
                                                                                    <div class="g-row g-row--appearance_spaced g-row--space_none">
                                                                                                              <div class="g-cell g-cols g-cols--12 g-cols--3-lg">
                                                                                                                                        <aside class="contact-body">
                                                                                                                                                                  <div class="panel panel--contact">
                                                                                                                                                                                                    <h3 class="panel__title">Наши контакты
                                                                                                                                                                                                    </h3><a class="panel__link" href="tel:+38(096)747 53 98"><span class="panel__link-icon icon_phone">&#xe090;</span> +38 (096)7475398 <br/></a><a class="panel__link panel__link--sideways" href="tel:+38(096)747 53 98">+38 (096)7475398<br/></a><a class="panel__link" href="mailto:alexgash8@gmail.com"><span class="panel__link-icon-svg icon-mail"></span> alexgash8@gmail.com</a>
                                                                                                                                                                  </div>
                                                                                                                                                                  <div class="panel panel--contact">
                                                                                                                                                                                                    <h3 class="panel__title">График работы
                                                                                                                                                                                                    </h3>
                                                                                                                                                                                                    <p class="panel__text"><span class="panel__link-icon icon_hourglass">&#xe0e1;</span> с 8:00 до 21:00     
                                                                                                                                                                                                    </p>
                                                                                                                                                                                                    <p class="panel__text panel__text--sideways">В субботу:с 9:00 до 20:00
                                                                                                                                                                                                    </p>
                                                                                                                                                                                                    <p class="panel__text panel__text--sideways">В воскресенье: с 10:00 до 19:00
                                                                                                                                                                                                    </p>
                                                                                                                                                                  </div>
                                                                                                                                                                  <button class="btn btn--other">Запись на прием 
                                                                                                                                                                  </button>
                                                                                                                                                                  <button class="btn">Индивидуальный подбор матрасаcccc
                                                                                                                                                                  </button>
                                                                                                                                                                  <button class="btn">Обратный звонок
                                                                                                                                                                  </button>
                                                                                                                                        </aside>
                                                                                                              </div>
                                                                                                              <div class="g-cell g-cols g-cols--12 g-cols--9-lg">
                                                                                                                                        <section class="map map--wrap">
                                                                                                                                                                          <div class="map__body" id="js-map">
                                                                                                                                                                          </div>
                                                                                                                                        </section>
                                                                                                              </div>
                                                                                                              <div class="g-cell g-cols g-cols--12">
                                                                                                                                        <section class="contact-end">
                                                                                                                                                                          <p class="contact-end__text contact-end__text--bold">
                                                                                                                                                                            Есть над чем задуматься: активно развивающиеся страны третьего мира могут быть рассмотрены исключительно в разрезе маркетинговых и финансовых 
                                                                                                                                                                            предпосылок. А еще реплицированные с зарубежных источников, современные 
                                                                                                                                                                            исследования могут быть объективно рассмотрены соответствующими инстанциями. 
                                                                                                                                                                          </p>
                                                                                                                                                                          <p class="contact-end__text contact-end__text--light">
                                                                                                                                                                             целом, конечно, высокотехнологичная концепция общественного уклада обеспечивает актуальность соответствующих условий активизации. <span class="contact-end__text contact-end__text--color">Современные технологии</span>
                                                                                                                                                                            достигли такого уровня, что существующая теория 
                                                                                                                                                                            напрямую зависит от прогресса профессионального сообщества. И нет 
                                                                                                                                                                            сомнений, что элементы политического процесса освещают чрезвычайно 
                                                                                                                                                                            интересные особенности картины в целом, однако конкретные выводы, 
                                                                                                                                                                            разумеется, обнародованы. А еще интерактивные прототипы описаны 
                                                                                                                                                                            максимально подробно.
                                                                                                                                                                          </p>
                                                                                                                                        </section>
                                                                                                              </div>
                                                                                    </div>
                                                          </div>
                                </div>
                                <div class="our-link-wrap">
                                                          <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                                    <div class="our-link">
                                                                                                                      <div class="our-link__panel our-link__panel--adaptive"><a class="our-link__panel-link our-link__panel-link--head">О нас</a><a class="our-link__panel-link our-link__panel-link--head">Система Заботы Gash Care</a><a class="our-link__panel-link our-link__panel-link--head">Оплата и доставка</a><a class="our-link__panel-link our-link__panel-link--head">Контакты</a><a class="our-link__panel-link our-link__panel-link--head">Личный кабинет</a>
                                                                                                                      </div>
                                                                                                                      <div class="our-link__panel">
                                                                                                                                                        <div class="our-link__panel-title">Каталог матрасов
                                                                                                                                                        </div><a class="our-link__panel-link">Детские матрасы</a><a class="our-link__panel-link">Футоны и топперы</a><a class="our-link__panel-link">Евро пружинники</a><a class="our-link__panel-link">ГДР пружинники</a><a class="our-link__panel-link">Авторские матрасы</a><a class="our-link__panel-link">Евро беспружинники</a><a class="our-link__panel-link">Беспружинники Мега</a><a class="our-link__panel-link">Односторонние матрасы</a>
                                                                                                                      </div>
                                                                                                                      <div class="our-link__panel">
                                                                                                                                                        <div class="our-link__panel-title">Энциклопедия матрасов
                                                                                                                                                        </div><a class="our-link__panel-link">Все про мемори</a><a class="our-link__panel-link">Все про натуральные материалы</a><a class="our-link__panel-link">Все про пену (ппу или поролон)</a>
                                                                                                                      </div>
                                                                                                                      <div class="our-link__panel">
                                                                                                                                                        <div class="our-link__panel-title">Новости
                                                                                                                                                        </div><a class="our-link__panel-link">Записки мастера</a><a class="our-link__panel-link">Наши новинки</a><a class="our-link__panel-link">Наши лучшие рецепты</a><a class="our-link__panel-link">Промышленный шпионаж</a>
                                                                                                                      </div>
                                                                                                                      <div class="our-link__panel">
                                                                                                                                                        <div class="our-link__panel-title">Сопутствующие товары
                                                                                                                                                        </div><a class="our-link__panel-link">Наматрасники</a><a class="our-link__panel-link">Подушки</a><a class="our-link__panel-link">Одеяла</a><a class="our-link__panel-link">Ламельные каркасы</a><a class="our-link__panel-link">StomaGash</a><a class="our-link__panel-link">Льняные трусы</a>
                                                                                                                      </div>
                                                                                    </div>
                                                          </div>
                                </div>
      </main>
                        <footer class="footer-wrap">
                                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                <div class="footer"> 
                                                                                          <div class="footer__logo"><img class="footer__logo footer__logo--img" src="../static/img/logo.png" alt="logo" title="logo"/>
                                                                                          </div>
                                                                                    <div class="contact"> 
                                                                                                              <p class="contact__title">Наши контакты
                                                                                                              </p><a class="contact__phone" href="tel:+38(096)747 53 98"><span>+38(096)747 53 98</span>  </a><a class="contact__phone" href="tel:+38(096)747 53 98"><span>+38(096)747 53 98</span> <br/></a><a class="contact__mail" href="mailto:alexgash8@gmail.com"><span class="contact__mail contact__mail--icon icon_mail">&#xe076;</span> alexgash8@gmail.com</a>
                                                                                    </div>
                                                                                    <div class="schedule">
                                                                                                              <div class="schedule__title">График работы
                                                                                                              </div>
                                                                                                              <div class="schedule__time">с 8:00 до 21:00
                                                                                                              </div>
                                                                                                              <div class="schedule__weekends">В субботу:с 9:00 до 20:00 
                                                                                                              </div>
                                                                                                              <div class="schedule__weekends">В воскресенье: с 10:00 до 19:00
                                                                                                              </div>
                                                                                    </div>
                                                                                    <div class="social">
                                                                                                              <p class="social__title">Мы в социальных сетях
                                                                                                              </p>
                                                                                                              <div class="social__net"><a class="social__link"><span class="social__link social__link--icon icon-instagram"></span> Instagram</a><a class="social__link"><span class="social__link social__link--icon icon-youtube"></span> YouTube</a><a class="social__link"><span class="social__link social__link--icon icon-facebook"></span> Facebook</a>
                                                                                                              </div>
                                                                                                              <div class="social__text">© GASH 2018. Все права защищены
                                                                                                              </div>
                                                                                    </div>
                                                                </div>
                                            </div>
                        </footer>
    </div>
    <script type="text/javascript" src="../static/js/vendor.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqlb7J9FCMzqTHSUCF7crqqBF1MT-7jqI&amp;callback=initMap&amp;libraries=&amp;v=weekly" async></script>
  </body>
</html>