
<div class="wrap">
  <section class="breadcrumbs-wrap">
    <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
      <div class="breadcrumbs"><a class="breadcrumbs__link" href="http://localhost:9080/templates/">Главная<span class="breadcrumbs__link breadcrumbs__link--slash">/</span></a><a class="breadcrumbs__link" href="#">Название<span class="breadcrumbs__link breadcrumbs__link--slash">/</span></a><span class="breadcrumbs__link">Название</span>
      </div>
    </div>
  </section>
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="g-row g-row--appearance_spaced g-row--space_none">
      <div class="g-cell g-cols g-cols--12 g-cols--9-md">
        <section class="body-new">
          <h1 class="body-new__title">Название новости
          </h1>
          <div class="body-new__main-pic"><img class="body-new__main-pic body-new__main-pic--photo" src="../static/img/text/body-text-img-1.jpg" alt="photo man" title="photo main"/>
          </div>
          <p class="body-new__text body-new__text--light">25 Декабря 2018
          </p>
          <p class="body-new__text body-new__text--bold">
            Есть над чем задуматься: активно развивающиеся страны третьего мира могут быть рассмотрены исключительно в разрезе маркетинговых и финансовых 
            предпосылок. А еще реплицированные с зарубежных источников, современные 
            исследования могут быть объективно рассмотрены соответствующими инстанциями. 
          </p>
          <p class="body-new__text">
            В целом, конечно, высокотехнологичная концепция общественного уклада обеспечивает актуальность соответствующих условий активизации. <span class="body-new__text body-new__text--color">Современные технологии</span> 
            достигли такого уровня, что существующая теория напрямую зависит 
            от прогресса профессионального сообщества. И нет сомнений, что элементы 
            политического процесса освещают чрезвычайно интересные особенности картины в 
            целом, однако конкретные выводы, разумеется, обнародованы. А еще интерактивные 
            прототипы описаны максимально подробно.
          </p>
          <h2 class="body-new__list-title">Купить тонкий матрас для дивана
          </h2>
          <ul class="list">
            <li class="list__item">Вот вам яркий пример современных тенденций - начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки своевременного выполнения сверхзадачи.
            </li>
            <li class="list__item">Убежденность некоторых оппонентов способствует подготовке и реализации системы обучения кадров, соответствующей насущным потребностям.
            </li>
            <li class="list__item">Таким образом, начало повседневной работы по формированию позиции предоставляет широкие возможности для системы обучения кадров, соответствующей насущным потребностям!
            </li>
          </ul>
          <p class="body-new__text">
            ологии достигли такого уровня, что существующая теория напрямую зависит отпрогресса профессионального сообщества. И нет сомнений, что элементы 
            политического процесса освещают чрезвычайно интересные особенности картины 
            в целом, однако конкретные выводы, разумеется, обнародованы. А еще интерактивные 
            прототипы описаны максимально подробно.
          </p>
          <h2 class="body-new__list-title body-new__list-title--num">Купить тонкий матрас для дивана
          </h2>
          <ul class="list-num">
            <li class="list-num__item">Вот вам яркий пример современных тенденций - начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки своевременного выполнения сверхзадачи.
            </li>
            <li class="list-num__item">Убежденность некоторых оппонентов способствует подготовке и реализации системы обучения кадров, соответствующей насущным потребностям.
            </li>
            <li class="list-num__item">Таким образом, начало повседневной работы по формированию позиции предоставляет широкие возможности для системы обучения кадров, соответствующей насущным потребностям!
            </li>
          </ul>
          <p class="body-new__text">
            ологии достигли такого уровня, что существующая теория напрямую зависит отпрогресса профессионального сообщества. И нет сомнений, что элементы 
            политического процесса освещают чрезвычайно интересные особенности картины 
            в целом, однако конкретные выводы, разумеется, обнародованы. А еще интерактивные 
            прототипы описаны максимально подробно.
          </p>
          <table class="ds-table ds-table--styling_default ds-table--appearance_autofill-card"> 
            <thead class="ds-table__head">
              <th class="ds-table__cell ds-table__cell--head">Строка
              </th>
              <th class="ds-table__cell ds-table__cell--head">Строка
              </th>
              <th class="ds-table__cell ds-table__cell--head">Строка
              </th>
              <th class="ds-table__cell ds-table__cell--head">Строка
              </th>
              <th class="ds-table__cell ds-table__cell--head">Строка
              </th>
            </thead>
            <tbody>
              <tr class="ds-table__row">
                <td class="ds-table__cell ds-table__cell--column">Строка
                </td>
                <td class="ds-table__cell ds-table__cell--column">Строка
                </td>
                <td class="ds-table__cell ds-table__cell--column">Строка
                </td>
                <td class="ds-table__cell ds-table__cell--column">Строка
                </td>
                <td class="ds-table__cell ds-table__cell--column">Строка
                </td>
              </tr>
              <tr class="ds-table__row">
                <td class="ds-table__cell ds-table__cell--column">Строка
                </td>
                <td class="ds-table__cell ds-table__cell--column">Строка
                </td>
                <td class="ds-table__cell ds-table__cell--column">Строка
                </td>
                <td class="ds-table__cell ds-table__cell--column">Строка
                </td>
                <td class="ds-table__cell ds-table__cell--column">Строка
                </td>
              </tr>
              <tr class="ds-table__row">
                <td class="ds-table__cell ds-table__cell--column">Строка
                </td>
                <td class="ds-table__cell ds-table__cell--column">Строка
                </td>
                <td class="ds-table__cell ds-table__cell--column">Строка
                </td>
                <td class="ds-table__cell ds-table__cell--column">Строка
                </td>
                <td class="ds-table__cell ds-table__cell--column">Строка
                </td>
              </tr>
              <tr class="ds-table__row">
                <td class="ds-table__cell ds-table__cell--column">Строка
                </td>
                <td class="ds-table__cell ds-table__cell--column">Строка
                </td>
                <td class="ds-table__cell ds-table__cell--column">Строка
                </td>
                <td class="ds-table__cell ds-table__cell--column">Строка
                </td>
                <td class="ds-table__cell ds-table__cell--column">Строка
                </td>
              </tr>
            </tbody>
          </table>
          <p class="body-new__text body-new__text--utterance">
            ологии достигли такого уровня, что существующая теория напрямую зависит от прогресса профессионального сообщества. И нет сомнений, 
            что элементы политического 
          </p>
          <p class="body-new__text">
            ологии достигли такого уровня, что существующая теория напрямую зависит отпрогресса профессионального сообщества. И нет сомнений, что элементы 
            политического процесса освещают чрезвычайно интересные особенности картины 
            в целом, однако конкретные выводы, разумеется, обнародованы. А еще интерактивные 
            прототипы описаны максимально подробно.
          </p>
          <div class="panel"> <a class="panel__link"><img class="panel__link-img" src="../static/img/text/icon-vk-color.png" alt="photo man" title="photo man"/></a><a class="panel__link"><img class="panel__link-img" src="../static/img/text/icon-fb-color.png" alt="photo man" title="photo man"/></a><a class="panel__link"><img class="panel__link-img" src="../static/img/text/icon-tw-color.png" alt="photo man" title="photo man"/></a><a class="panel__link"><img class="panel__link-img" src="../static/img/text/icon-g-color.png" alt="photo man" title="photo man"/></a><a class="panel__link"><img class="panel__link-img" src="../static/img/text/icon-mail-color.png" alt="photo man" title="photo man"/></a><a class="panel__link"><img class="panel__link-img" src="../static/img/text/icon-print-color.png" alt="photo man" title="photo man"/></a><a class="panel__link"><img class="panel__link-img" src="../static/img/text/icon-plus-color.png" alt="photo man" title="photo man"/></a>
          </div>
        </section>
      </div>
      <div class="g-cell g-cols g-cols--3">
        <aside class="new">
          <div class="card">
            <div class="card__wrap">
              <div class="slide">
                <div class="slide__pic"><img class="slide__pic-img" src="../static/img/home/blog-img-2.jpg" alt="blog card" title=""/>
                </div>
                <h4 class="slide__title">Ортопедический матрас Dormisan Пульман
                </h4>
                <p class="slide__text">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности
                </p>
                <p class="slide__date">29 Декабря 2018
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card__wrap">
              <div class="slide">
                <div class="slide__pic"><img class="slide__pic-img" src="../static/img/text/body-text-img-2.jpg" alt="blog card" title=""/>
                </div>
                <h4 class="slide__title">Как измерить высоту матраса?
                </h4>
                <p class="slide__text">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности
                </p>
                <p class="slide__date">27 Декабря 2018
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card__wrap">
              <div class="slide">
                <div class="slide__pic"><img class="slide__pic-img" src="../static/img/home/blog-img-3.jpg" alt="blog card" title=""/>
                </div>
                <h4 class="slide__title">Купить тонкий матрас для дивана
                </h4>
                <p class="slide__text">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности
                </p>
                <p class="slide__date">26 Декабря 2018
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card__wrap">
              <div class="slide">
                <div class="slide__pic"><img class="slide__pic-img" src="../static/img/text/body-text-img-3.jpg" alt="blog card" title=""/>
                </div>
                <h4 class="slide__title">Как измерить высоту матраса?
                </h4>
                <p class="slide__text">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности
                </p>
                <p class="slide__date">27 Декабря 2018
                </p>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
</div>