.breadcrumbs
  pos: relative
  pa: 13px 0px 20px 0px
  &__
    &link
      color: var(--theme-text-3)
      fd: none
      cursor: pointer
      &--
        &slash
          pa: 0px 5px
          color: var(--theme-text-1)
