body
  font-family: Exo2, sans-serif
  fw: 400
  p
    fs: 14px

  
//*********** sliders style *********************
.slick-list
  overflow: hidden
  h: 100%
.slick-track
  d: flex
  h: 100%
.slick-slide
  h: 100%
  &>div
    h:100%
.wrap
  pa: 0px 2px

.slide
  d: flex
  f-dir: column
  bg: var(--theme-accent-white)
  tr: .5s
  cursor: pointer
  &:hover
    box-shadow: 20px 30px 11px rgba(86, 107, 118, 0.21)
    .slide__title
      color: var(--theme-text-1)
  &__
    &pic
      w: 100%
    &pic-img
      w: 100%
      h: 100%
      object-fit: cover
      object-position: center
    &title
      pa: 10px 25px
      color: var(--theme-text-2)
      fw: 700
      fs: 10px
      +mq-sm
        fs: 11px
      +mq-md
        fs: 12px  
      +mq-lg
        fs: 15px
    &text
      pa: 0px 25px
      color: var(--theme-text-4)
      fw: 400
      fs: 9px
      +mq-sm
        fs: 10px
      +mq-md
        fs: 11px  
      +mq-lg
        fs: 13px
    &date
      pa: 20px 25px
      color: var(--theme-text-4)
      fw: 400
      fs: 8px
      +mq-sm
        fs: 9px
      +mq-md
        fs: 10px  
      +mq-lg
        fs: 12px

.control
  pos: absolute
  w: 20px
  h: 20px
  pa: 0px
  bottom: 0%
  right: 0px
  br: none
  //br-radius: 2px
  bg: var(--theme-text-1)
  font-family: ElegantIcons
  fw: 800
  fs: 13px
  color: var(--theme-accent-white)
  tr: 0.5s
  z-index: 10
  cursor: pointer
  &:hover
    color: var(--theme-text-2)
    bg: var(--theme-accent-white)
    //box-shadow: 0px 4px 4px rgba(255,255, 255, 0.25)
  &--prev
    right: 52%
  &--next
    right: 46%


//************** titles ******************************
.title-secondary
  color: var(--theme-text-2)
  fw: 700
  fs: 20px
  +mq-sm
    fs: 21px
  +mq-md
    fs: 22px  
  +mq-lg
    fs: 25px