.head
  d: flex
  f-dir: column
  flex-wrap: wrap
  ai: center
  jc: space-between
  pa: 10px 0px
  +mq-sm
    f-dir: row
  &__
    &logo
      &--
        &img
          w: 100%
        
.info
  &__
    &work
      d: flex
      f-dir: column
      +mq-md
        ai: flex-start
      +mq-xl
        f-dir: row
        ai: flex-end
         
    &phone
      mr: 10px
      color: var(--theme-text-2)
      fw: 700
      fs: 25px
      fa: center
      +mq-md
        fs: 28px
      +mq-xl
        fs: 30px
    &icon
      mr: 3px
      font-family: ElegantIcons
      fw: 800
      color: var(--theme-text-1)
      fs: 20px
      +mq-md
        fs: 23px
      +mq-xl
        fs: 25px
    &time
      mb: 5px
      fw: 400
      fs: 9px
      fa: center
      color: var(--theme-text-2)
      +mq-md
        fs: 11px
      +mq-xl
        fs: 13px
        
.navbar
  d: flex
  pb: 10px
  &__
    &list
      d: flex
      ai: center
      jc: center
    &link
      ma: 0px 5px
      fw: 400
      fs: 9px
      color: var(--theme-text-2)
      cursor: pointer
      +mq-md
        fs: 11px
      +mq-xl
        fs: 13px
      &:hover
        fd: underline
        

.order
  d: flex
  f-dir: column
  ai: flex-start
  jc: center
  +mq-sm
    f-dir: row
    w: 100%
    //jc: center
  +mq-md
    f-dir: column
    jc: space-between
    w: auto
  &__
    &item
      ma: 5px 0px 5px 5px
      fw: 400
      fs: 9px
      color: var(--theme-text-2)
      +mq-md
        fs: 11px
      +mq-xl
        fs: 13px
      &--
        &color
          mr: 3px
          color: var(--theme-text-1)