
<div class="error-wrap">
  <section class="breadcrumbs-wrap">
    <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
      <div class="breadcrumbs"><a class="breadcrumbs__link" href="../templates/">Главная<span class="breadcrumbs__link breadcrumbs__link--slash">/</span></a><a class="breadcrumbs__link" href="#">Название<span class="breadcrumbs__link breadcrumbs__link--slash">/</span></a><span class="breadcrumbs__link">Название</span>
      </div>
    </div>
  </section>
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <h1 class="contact-title">Контакты
    </h1>
    <div class="g-row g-row--appearance_spaced g-row--space_none">
      <div class="g-cell g-cols g-cols--12 g-cols--3-lg">
        <div class="contact-body">
          <div class="panel panel--contact">
            <h3 class="panel__title">Наши контакты
            </h3><a class="panel__link panel__link--phon" href="tel:+38(096)747 53 98"><span class="panel__link-icon icon_phone">&#xe090;</span> +38 (096)7475398 <br/></a><a class="panel__link panel__link--phon" href="tel:+38(096)747 53 98">+38 (096)7475398<br/></a><a class="panel__link panel__link--mail" href="mailto:alexgash8@gmail.com"><span class="panel__link-icon icon_mail"></span> alexgash8@gmail.com</a>
          </div>
          <div class="panel panel--contact">
            <h3 class="panel__title">График работы
            </h3>
            <p class="panel__text"><span class="panel__link-icon icon_hourglass"></span> с 8:00 до 21:00     
            </p>
            <p class="panel__text">В субботу:с 9:00 до 20:00
            </p>
            <p class="panel__text">В воскресенье: с 10:00 до 19:00
            </p>
          </div>
          <button class="btn btn--other">Запись на прием
          </button>
          <button class="btn">Индивидуальный подбор матраса
          </button>
          <button class="btn">Обратный звонок
          </button>
        </div>
      </div>
      <div class="g-cell g-cols g-cols--12 g-cols--9-lg">
        <div class="map map--wrap">
          <div class="map__body" id="js-map">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>