
<div class="contact-wrap">
  <section class="breadcrumbs-wrap">
    <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
      <div class="breadcrumbs"><a class="breadcrumbs__link" href="../templates/">Главная<span class="breadcrumbs__link breadcrumbs__link--slash">/</span></a><a class="breadcrumbs__link" href="#">Название<span class="breadcrumbs__link breadcrumbs__link--slash">/</span></a><span class="breadcrumbs__link">Название</span>
      </div>
    </div>
  </section>
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <h1 class="contact-title">Контакты
    </h1>
    <div class="g-row g-row--appearance_spaced g-row--space_none">
      <div class="g-cell g-cols g-cols--12 g-cols--3-lg">
        <aside class="contact-body">
          <div class="panel panel--contact">
            <h3 class="panel__title">Наши контакты
            </h3><a class="panel__link" href="tel:+38(096)747 53 98"><span class="panel__link-icon icon_phone">&#xe090;</span> +38 (096)7475398 <br/></a><a class="panel__link panel__link--sideways" href="tel:+38(096)747 53 98">+38 (096)7475398<br/></a><a class="panel__link" href="mailto:alexgash8@gmail.com"><span class="panel__link-icon-svg icon-mail"></span> alexgash8@gmail.com</a>
          </div>
          <div class="panel panel--contact">
            <h3 class="panel__title">График работы
            </h3>
            <p class="panel__text"><span class="panel__link-icon icon_hourglass">&#xe0e1;</span> с 8:00 до 21:00     
            </p>
            <p class="panel__text panel__text--sideways">В субботу:с 9:00 до 20:00
            </p>
            <p class="panel__text panel__text--sideways">В воскресенье: с 10:00 до 19:00
            </p>
          </div>
          <button class="btn btn--other">Запись на прием 
          </button>
          <button class="btn">Индивидуальный подбор матраса
          </button>
          <button class="btn">Обратный звонок
          </button>
        </aside>
      </div>
      <div class="g-cell g-cols g-cols--12 g-cols--9-lg">
        <section class="map map--wrap">
          <div class="map__body" id="js-map">
          </div>
        </section>
      </div>
      <div class="g-cell g-cols g-cols--12">
        <section class="contact-end">
          <p class="contact-end__text contact-end__text--bold">
            Есть над чем задуматься: активно развивающиеся страны третьего мира могут быть рассмотрены исключительно в разрезе маркетинговых и финансовых 
            предпосылок. А еще реплицированные с зарубежных источников, современные 
            исследования могут быть объективно рассмотрены соответствующими инстанциями. 
          </p>
          <p class="contact-end__text contact-end__text--light">
             целом, конечно, высокотехнологичная концепция общественного уклада обеспечивает актуальность соответствующих условий активизации. <span class="contact-end__text contact-end__text--color">Современные технологии</span>
            достигли такого уровня, что существующая теория 
            напрямую зависит от прогресса профессионального сообщества. И нет 
            сомнений, что элементы политического процесса освещают чрезвычайно 
            интересные особенности картины в целом, однако конкретные выводы, 
            разумеется, обнародованы. А еще интерактивные прототипы описаны 
            максимально подробно.
          </p>
        </section>
      </div>
    </div>
  </div>
</div>