.contact-wrap
  bg: var(--theme-relief-2)
.contact-title
  color: var(--theme-text-2)
  fw: 700
  fs: 25px
  mb: 35px
  

.contact-body
  d: flex
  flex-wrap: wrap
  f-dir: column
  bg: var(--theme-accent-white)
  pa: 18px 18px 47px  18px
  +mq-sm
    f-dir: row
  +mq-lg
    f-dir: column

  .btn
    w: 100%
    ma: -13px 0px 19px 0px
    pa: 18px 0px
    &--
      &other
        bg: var(--theme-text-2)
        +mq-lg
          &:hover
            box-shadow: 6px 6px 1px 0px rgba(0, 0, 0, 0.3)
          &:active
            box-shadow: none

.panel
  &__
    &title
      color: var(--theme-text-2)
      fw: 700
      fs: 17px
      mb: 44px
      +mq-lg
        fs: 20px
    &link
      color: var(--theme-text-2)
      fw: 400
      fs: 10px
      lh: 1.8
      fd: none
      cursor: pointer
      +mq-lg
        fs: 13px
      &--
        &sideways
          pl: 43px
    &link-icon
      ma: 0px 20px 0px 6px
      font-family: ElegantIcons
      fw: 800
      color: var(--theme-text-1)
      fs: 14px
    &link-icon-svg
      ma: 0px 20px 0px 6px
      fs: 15px
      color: var(--theme-text-1)
    &text
      color: var(--theme-text-2)
      fw: 400
      fs: 10px
      lh: 1.8
      +mq-lg
        fs: 13px
      &--
        &sideways
          pl: 43px
  &--
    &contact
      pa: 0px 0px 0px 0px
      mb: 52px
      +mq-sm
        w: 50%
      +mq-lg
        w: 100%
    


.map
  &--
    &wrap
      position: relative
  &__
    &body
      w: 100%
      h: 400px
      mt: 20px
      +mq-lg
        w: 95%
        h: 668px
        mt: 0px
        ml: 35px
      +mq-xl
        w: 96%
        h: 628px

.contact-end
  ma: 37px 0px 70px 0px
  pa: 38px 40px 52px 40px

  bg: var(--theme-accent-white)
  &__
    &text
      lh: 2
      pa: 0px 30px 30px 30px
      color: var(--theme-text-4)
      letter-spacing: 0px
      fs: 10px
      +mq-md
        fs: 13px
      &--
        &light
          pa: 5px 30px 10px 25px
          font-family: ProximaNova, sans-serif
          fw: 400
        &bold
          fw: 700
          letter-spacing: 0px
          lh: 2
        &color
          pa: 0px
          color: var(--theme-text-1)