
<section class="advantages-wrap">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="advantages">
      <div class="advantages__bar advantages__bar--big"><img class="advantages__bar-img" src="../../static/img/home/advant-img-1.jpg" alt="advantages bar" title=""/>
        <h3 class="advantages__bar-title advantages__bar-title--big"><span class="advantages__bar-title advantages__bar-title--color">Чем мы лучше?</span> <br/> Наши особенные особенности
        </h3>
      </div>
      <div class="advantages__bar advantages__bar--small">
        <div class="advantages__bar-title">Ремонтируем некачественные фабричные матрасы
        </div><img class="advantages__bar-icon" src="../../static/img/home/icon-scissors.png" alt="advantages bar" title=""/><img class="advantages__bar-icon advantages__bar-icon--white" src="../../static/img/home/icon-scissors-white.png" alt="advantages bar" title=""/>
        <div class="advantages__bar-text">(перешиваем чехлы, вшиваем молнии, повышаем жесткость, укрепляем периметр, приводим к своим стандартам сна)
        </div>
      </div>
      <div class="advantages__bar advantages__bar--small">
        <div class="advantages__bar-title">Заботимся через систему  Gash Care
        </div><img class="advantages__bar-icon" src="../../static/img/home/icon-heart.png" alt="advantages bar" title=""/><img class="advantages__bar-icon advantages__bar-icon--white" src="../../static/img/home/icon-heart-white.png" alt="advantages bar" title=""/>
        <div class="advantages__bar-text">мы создаем и оттачиваем реальную аналитическую систему удовольствия  клиентов
        </div>
      </div>
      <div class="advantages__bar advantages__bar--small">
        <div class="advantages__bar-title">Открываем сокровенное сокровенные
        </div><img class="advantages__bar-icon" src="../../static/img/home/icon-info.png" alt="advantages bar" title=""/><img class="advantages__bar-icon advantages__bar-icon--white" src="../../static/img/home/icon-info-white.png" alt="advantages bar" title=""/>
        <div class="advantages__bar-text">технические тайны в нашей Энциклопедии матрасов, ручаемся - ее наполнение и качество подачи информации Вас приятно удивит
        </div>
      </div>
      <div class="advantages__bar advantages__bar--small">
        <div class="advantages__bar-title">Имеем мощнейшую YouTube библиотеку
        </div><img class="advantages__bar-icon" src="../../static/img/home/icon-youtube.png" alt="advantages bar" title=""/><img class="advantages__bar-icon advantages__bar-icon--white" src="../../static/img/home/icon-youtube-white.png" alt="advantages bar" title=""/>
        <div class="advantages__bar-text">такого обилия высококачественной информации по теме матрасов Вы еще не видели!
        </div>
      </div>
      <div class="advantages__bar advantages__bar--small">
        <div class="advantages__bar-title">Корректируем неудачно подобранную жесткость
        </div><img class="advantages__bar-icon" src="../../static/img/home/icon-leaf.png" alt="advantages bar" title=""/><img class="advantages__bar-icon advantages__bar-icon--white" src="../../static/img/home/icon-leaf-white.png" alt="advantages bar" title=""/>
        <div class="advantages__bar-text">(смягчаем, повышаем жесткость, улучшаем комфорт, выстраиваем качественный пирог ортопедического комфорта), наши матрасы - ЗА СВОЙ СЧЕТ
        </div>
      </div>
      <div class="advantages__bar advantages__bar--small">
        <div class="advantages__bar-title">Прямой контакт с мастером с мастером матрасов
        </div><img class="advantages__bar-icon" src="../../static/img/home/icon-chat.png" alt="advantages bar" title=""/><img class="advantages__bar-icon advantages__bar-icon--white" src="../../static/img/home/icon-chat-white.png" alt="advantages bar" title=""/>
        <div class="advantages__bar-text">создателем мастерской ЛИЧНО = матрас из первых рук от производителя
        </div>
      </div>
      <div class="advantages__bar advantages__bar--small">
        <div class="advantages__bar-title">Гарантия 5 лет на ЛЮБУЮ претензию
        </div><img class="advantages__bar-icon" src="../../static/img/home/icon-shield.png" alt="advantages bar" title=""/><img class="advantages__bar-icon advantages__bar-icon--white" src="../../static/img/home/icon-shield-white.png" alt="advantages bar" title=""/>
        <div class="advantages__bar-text">решаем любую проблему вплоть до возврата денег без лишних вопросов - в нашей обойме исключительно довольные клиенты!
        </div>
      </div>
    </div>
  </div>
</section>