
<section class="advantages-wrap">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="advantages">
      <div class="bar bar--big"><img class="bar__img" src="../static/img/home/advant-img-1.jpg" alt="advantages bar" title=""/>
        <h3 class="bar__title bar__title--big"><span class="bar__title bar__title--color">Чем мы лучше?</span> <br/> Наши особенные <br/> особенности
        </h3>
      </div>
      <div class="bar bar--small">
        <div class="bar__title bar__title--min">Ремонтируем некачественные фабричные матрасы
        </div><span class="bar__icon icon-scrissors"></span>
        <div class="bar__text">(перешиваем чехлы, вшиваем молнии, повышаем жесткость, укрепляем периметр, приводим к своим стандартам сна)
        </div>
      </div>
      <div class="bar bar--small">
        <div class="bar__title bar__title--min">Заботимся через систему  Gash Care
        </div><span class="bar__icon icon-heart"></span>
        <div class="bar__text">мы создаем и оттачиваем реальную аналитическую систему удовольствия  клиентов
        </div>
      </div>
      <div class="bar bar--small">
        <div class="bar__title bar__title--min">Открываем сокровенное сокровенные
        </div><span class="bar__icon icon-info"></span>
        <div class="bar__text">технические тайны в нашей Энциклопедии матрасов, ручаемся - ее наполнение и качество подачи информации Вас приятно удивит
        </div>
      </div>
      <div class="bar bar--small">
        <div class="bar__title bar__title--min">Имеем мощнейшую YouTube библиотеку
        </div><span class="bar__icon icon-youtube-line"></span>
        <div class="bar__text">такого обилия высококачественной информации по теме матрасов Вы еще не видели!
        </div>
      </div>
      <div class="bar bar--small">
        <div class="bar__title bar__title--min">Корректируем неудачно подобранную жесткость
        </div><span class="bar__icon icon-leaf"></span>
        <div class="bar__text">(смягчаем, повышаем жесткость, улучшаем комфорт, выстраиваем качественный пирог ортопедического комфорта), наши матрасы - ЗА СВОЙ СЧЕТ
        </div>
      </div>
      <div class="bar bar--small">
        <div class="bar__title bar__title--min">Прямой контакт с мастером с мастером матрасов
        </div><span class="bar__icon icon-chat"></span>
        <div class="bar__text">создателем мастерской ЛИЧНО = матрас из первых рук от производителя
        </div>
      </div>
      <div class="bar bar--small">
        <div class="bar__title bar__title--min">Гарантия 5 лет на ЛЮБУЮ претензию
        </div><span class="bar__icon icon-shield"></span>
        <div class="bar__text">решаем любую проблему вплоть до возврата денег без лишних вопросов - в нашей обойме исключительно довольные клиенты!
        </div>
      </div>
    </div>
  </div>
</section>