
<section class="basic-wrap">
  <div class="g-row g-row--appearance_spaced g-row--space_none">
    <div class="g-cell g-cols g-cols--12"> 
      <div class="basic">
        <div class="item item--big">
          <div class="item__wrap">
            <div class="basic-slider single-item">
              <div class="basic-slide"><img class="basic-slide__img" src="../static/img/home/basic-img-1.jpg" alt="photo man" title="photo man"/>
                <div class="basic-slide__text">
                  <h2 class="basic-slide__text-title">Энциклопедия матрасов
                  </h2>
                  <p class="basic-slide__text-subtitle">Внезапно, реплицированные с зарубежных источников, современные исследования освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, ограничены исключительно образом мышления.
                  </p>
                </div>
              </div>
              <div class="basic-slide"><img class="basic-slide__img" src="../static/img/home/basic-img-3.jpg" alt="photo man" title="photo man"/>
                <div class="basic-slide__text">
                  <h2 class="basic-slide__text-title">Энциклопедия матрасов
                  </h2>
                  <p class="basic-slide__text-subtitle">Внезапно, реплицированные с зарубежных источников, современные исследования освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, ограничены исключительно образом мышления.
                  </p>
                </div>
              </div>
              <div class="basic-slide"><img class="basic-slide__img" src="../static/img/home/basic-img-4.jpg" alt="photo man" title="photo man"/>
                <div class="basic-slide__text">
                  <h2 class="basic-slide__text-title">Энциклопедия матрасов
                  </h2>
                  <p class="basic-slide__text-subtitle">Внезапно, реплицированные с зарубежных источников, современные исследования освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, ограничены исключительно образом мышления.
                  </p>
                </div>
              </div>
              <div class="basic-slide"><img class="basic-slide__img" src="../static/img/home/basic-img-1.jpg" alt="photo man" title="photo man"/>
                <div class="basic-slide__text">
                  <h2 class="basic-slide__text-title">Энциклопедия матрасов
                  </h2>
                  <p class="basic-slide__text-subtitle">Внезапно, реплицированные с зарубежных источников, современные исследования освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, ограничены исключительно образом мышления.
                  </p>
                </div>
              </div>
              <div class="basic-slide"><img class="basic-slide__img" src="../static/img/home/basic-img-3.jpg" alt="photo man" title="photo man"/>
                <div class="basic-slide__text">
                  <h2 class="basic-slide__text-title">Энциклопедия матрасов
                  </h2>
                  <p class="basic-slide__text-subtitle">Внезапно, реплицированные с зарубежных источников, современные исследования освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, ограничены исключительно образом мышления.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item item--top"><img class="item__img" src="../static/img/home/basic-img-2.jpg" alt="photo man" title="photo man"/>
          <div class="item__text">
            <h2 class="item__text-title">Приветствует
            </h2>
            <p class="item__text-subtitle">Киевская мастерская матрасов GASH!
            </p>
          </div>
        </div>
        <div class="item item--left"><img class="item__img" src="../static/img/home/basic-img-3.jpg" alt="photo man" title="photo man"/>
          <div class="item__text">
            <h2 class="item__text-title">Приветствует
            </h2>
            <p class="item__text-subtitle">Киевская мастерская матрасов GASH!
            </p>
          </div>
        </div>
        <div class="item item--right"><img class="item__img" src="../static/img/home/basic-img-4.jpg" alt="photo man" title="photo man"/>
          <div class="item__text">
            <h2 class="item__text-title">Приветствует
            </h2>
            <p class="item__text-subtitle">Киевская мастерская матрасов GASH!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>