
<section class="blog-wrap">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="blog">
      <h2 class="blog__title title-secondary">Блог
      </h2>
      <p class="blog__name-btn">Смотреть все 
        <button class="btn-open">
          <div class="btn-open__line btn-open__line--top">
          </div>
          <div class="btn-open__line btn-open__line--center">
          </div>
          <div class="btn-open__line btn-open__line--bottom">
          </div>
        </button>
      </p>
      <div class="slider-primary">
        <div class="slider-primary__wrap">
          <div class="slide">
            <div class="slide__pic"><img class="slide__pic-img" src="../static/img/home/blog-img-1.jpg" alt="blog card" title=""/>
            </div>
            <h4 class="slide__title">Матрасы на пружинах боннель
            </h4>
            <p class="slide__text">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности стены. Для улучшения сцепления материала со стеной, мы грунтуем поверхность, и это дает нам много преимуществ. Такие материалы как: штукатурка, краска и другие, достаточно хорошо впитываются в обработанную поверхность, и лучше держаться на ней. 
            </p>
            <p class="slide__date">25 Декабря 2018
            </p>
          </div>
        </div>
        <div class="slider-primary__wrap">
          <div class="slide">
            <div class="slide__pic"><img class="slide__pic-img" src="../static/img/home/blog-img-2.jpg" alt="blog card" title=""/>
            </div>
            <h4 class="slide__title">Ортопедический матрас Dormisan Пульман
            </h4>
            <p class="slide__text">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности стены. Для улучшения сцепления материала со стеной, мы грунтуем поверхность, и это дает нам много преимуществ. Такие материалы как: штукатурка, краска и другие, достаточно хорошо впитываютс
            </p>
            <p class="slide__date">29 Декабря 2018
            </p>
          </div>
        </div>
        <div class="slider-primary__wrap">
          <div class="slide">
            <div class="slide__pic"><img class="slide__pic-img" src="../static/img/home/blog-img-3.jpg" alt="blog card" title=""/>
            </div>
            <h4 class="slide__title">Купить тонкий матрас для дивана
            </h4>
            <p class="slide__text">стены. Для улучшения сцепления материала со стеной, мы грунтуем поверхность, и это дает нам много преимуществ. Такие материалы как: штукатурка, краска и другие, достаточно хорошо впитываются в обработанную поверхность, и лучше держаться на ней. 
            </p>
            <p class="slide__date">26 Декабря 2018
            </p>
          </div>
        </div>
        <div class="slider-primary__wrap">
          <div class="slide">
            <div class="slide__pic"><img class="slide__pic-img" src="../static/img/home/encyclopedia-img-1.jpg" alt="blog card" title=""/>
            </div>
            <h4 class="slide__title">Как измерить высоту матраса?
            </h4>
            <p class="slide__text">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности стены. Для улучшения сцепления материала со стеной, мы грунтуем поверхность, и это дает нам много преимуществ. Такие материалы как: штукатурка, краска и другие, достаточно хорошо впитываются в обработанную поверхность, и лучше держаться на ней. 
            </p>
            <p class="slide__date">27 Декабря 2018
            </p>
          </div>
        </div>
        <div class="slider-primary__wrap">
          <div class="slide">
            <div class="slide__pic"><img class="slide__pic-img" src="../static/img/home/encyclopedia-img-2.jpg" alt="blog card" title=""/>
            </div>
            <h4 class="slide__title">Матрасы на пружинах боннель
            </h4>
            <p class="slide__text">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности стены. Для улучшения сцепления материала со стеной, мы грунтуем поверхность, и это дает нам много преимуществ. Такие материалы как: штукатурка, краска и другие, достаточно хорошо впитываются в обработанную поверхность, и лучше держаться на ней. 
            </p>
            <p class="slide__date">28 Декабря 2018
            </p>
          </div>
        </div>
        <div class="slider-primary__wrap">
          <div class="slide">
            <div class="slide__pic"><img class="slide__pic-img" src="../static/img/home/encyclopedia-img-3.jpg" alt="blog card" title=""/>
            </div>
            <h4 class="slide__title">Ортопедический матрас Dormisan Пульман
            </h4>
            <p class="slide__text">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности стены. Для улучшения сцепления материала со стеной, мы грунтуем поверхность, и это дает нам много преимуществ. Такие материалы как: штукатурка, краска и другие, достаточно хорошо впитываются в обработанную поверхность, и лучше держаться на ней. 
            </p>
            <p class="slide__date">29 Декабря 2018
            </p>
          </div>
        </div>
        <div class="slider-primary__wrap">
          <div class="slide">
            <div class="slide__pic"><img class="slide__pic-img" src="../static/img/home/encyclopedia-img-4.jpg" alt="blog card" title=""/>
            </div>
            <h4 class="slide__title">Купить тонкий матрас для дивана
            </h4>
            <p class="slide__text">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности стены. Для улучшения сцепления материала со стеной, мы грунтуем поверхность, и это дает нам много преимуществ. Такие материалы как: штукатурка, краска и другие, достаточно хорошо впитываются в обработанную поверхность, и лучше держаться на ней. 
            </p>
            <p class="slide__date">29 Декабря 2018
            </p>
          </div>
        </div>
      </div>
      <div class="slider-secondary">
        <div class="slider-secondary__wrap">
          <div class="slide">
            <div class="slide__pic"><img class="slide__pic-img" src="../static/img/home/blog-img-1.jpg" alt="blog card" title=""/>
            </div>
            <h4 class="slide__title">Матрасы на пружинах боннель
            </h4>
            <p class="slide__text">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности
            </p>
            <p class="slide__date">25 Декабря 2018
            </p>
          </div>
        </div>
        <div class="slider-secondary__wrap">
          <div class="slide">
            <div class="slide__pic"><img class="slide__pic-img" src="../static/img/home/blog-img-2.jpg" alt="blog card" title=""/>
            </div>
            <h4 class="slide__title">Ортопедический матрас Dormisan Пульман
            </h4>
            <p class="slide__text">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности
            </p>
            <p class="slide__date">29 Декабря 2018
            </p>
          </div>
        </div>
        <div class="slider-secondary__wrap">
          <div class="slide">
            <div class="slide__pic"><img class="slide__pic-img" src="../static/img/home/blog-img-3.jpg" alt="blog card" title=""/>
            </div>
            <h4 class="slide__title">Купить тонкий матрас для дивана
            </h4>
            <p class="slide__text">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности
            </p>
            <p class="slide__date">26 Декабря 2018
            </p>
          </div>
        </div>
        <div class="slider-secondary__wrap">
          <div class="slide">
            <div class="slide__pic"><img class="slide__pic-img" src="../static/img/home/encyclopedia-img-1.jpg" alt="blog card" title=""/>
            </div>
            <h4 class="slide__title">Как измерить высоту матраса?
            </h4>
            <p class="slide__text">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности
            </p>
            <p class="slide__date">27 Декабря 2018
            </p>
          </div>
        </div>
        <div class="slider-secondary__wrap">
          <div class="slide">
            <div class="slide__pic"><img class="slide__pic-img" src="../static/img/home/encyclopedia-img-2.jpg" alt="blog card" title=""/>
            </div>
            <h4 class="slide__title">Матрасы на пружинах боннель
            </h4>
            <p class="slide__text">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности
            </p>
            <p class="slide__date">28 Декабря 2018
            </p>
          </div>
        </div>
        <div class="slider-secondary__wrap">
          <div class="slide">
            <div class="slide__pic"><img class="slide__pic-img" src="../static/img/home/encyclopedia-img-3.jpg" alt="blog card" title=""/>
            </div>
            <h4 class="slide__title">Ортопедический матрас Dormisan Пульман
            </h4>
            <p class="slide__text">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности
            </p>
            <p class="slide__date">29 Декабря 2018
            </p>
          </div>
        </div>
        <div class="slider-secondary__wrap">
          <div class="slide">
            <div class="slide__pic"><img class="slide__pic-img" src="../static/img/home/encyclopedia-img-4.jpg" alt="blog card" title=""/>
            </div>
            <h4 class="slide__title">Купить тонкий матрас для дивана
            </h4>
            <p class="slide__text">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности
            </p>
            <p class="slide__date">29 Декабря 2018
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>