
<section class="conditions-wrap">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="conditions">
      <h2 class="conditions__title title-secondary">Условия работы
      </h2>
      <div class="conditions__bar"><img class="conditions__bar-icon" src="../static/img/home/icon-finger.png" alt="conditions bar" title=""/><img class="conditions__bar-icon conditions__bar-icon--white" src="../static/img/home/icon-finger-white.png" alt="conditions bar" title=""/>
        <h4 class="conditions__bar-title">Уникальная методика точного подбора жесткости
        </h4>
      </div>
      <div class="conditions__bar"><img class="conditions__bar-icon" src="../static/img/home/icon-people-chat.png" alt="conditions bar" title=""/><img class="conditions__bar-icon conditions__bar-icon--white" src="../static/img/home/icon-people-chat-white.png" alt="conditions bar" title=""/>
        <h4 class="conditions__bar-title">Личная консультация мастера матрасов
        </h4>
      </div>
      <div class="conditions__bar"><img class="conditions__bar-icon" src="../static/img/home/icon-percent.png" alt="conditions bar" title=""/><img class="conditions__bar-icon conditions__bar-icon--white" src="../static/img/home/icon-percent-white.png" alt="conditions bar" title=""/>
        <h4 class="conditions__bar-title">Для старта работы аванс 50%
        </h4>
      </div>
      <div class="conditions__bar"><img class="conditions__bar-icon" src="../static/img/home/icon-calendar.png" alt="conditions bar" title=""/><img class="conditions__bar-icon conditions__bar-icon--white" src="../static/img/home/icon-calendar-white.png" alt="conditions bar" title=""/>
        <h4 class="conditions__bar-title">Изготовление до 10 рабочих дней
        </h4>
      </div>
      <div class="conditions__bar"><img class="conditions__bar-icon" src="../static/img/home/icon-box.png" alt="conditions bar" title=""/><img class="conditions__bar-icon conditions__bar-icon--white" src="../static/img/home/icon-box-white.png" alt="conditions bar" title=""/>
        <h4 class="conditions__bar-title">Бесплатная доставка по Киеву
        </h4>
      </div>
      <div class="conditions__bar"><img class="conditions__bar-icon" src="../static/img/home/icon-car.png" alt="conditions bar" title=""/><img class="conditions__bar-icon conditions__bar-icon--white" src="../static/img/home/icon-car-white.png" alt="conditions bar" title=""/>
        <h4 class="conditions__bar-title">Отправляем по всей Украине
        </h4>
      </div>
    </div>
  </div>
</section>