
<section class="conditions-wrap">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="conditions">
      <h2 class="conditions__title title-secondary">Условия работы
      </h2>
      <div class="bar"><span class="bar__icon icon-hand"></span>
        <h4 class="bar__title">Уникальная методика точного подбора жесткости
        </h4>
      </div>
      <div class="bar"><span class="bar__icon icon-chat-people"></span>
        <h4 class="bar__title">Личная консультация мастера матрасов
        </h4>
      </div>
      <div class="bar"><span class="bar__icon icon-percent"></span>
        <h4 class="bar__title">Для старта работы аванс 50%
        </h4>
      </div>
      <div class="bar"><span class="bar__icon icon-calendar-time"></span>
        <h4 class="bar__title">Изготовление до 10 рабочих дней
        </h4>
      </div>
      <div class="bar"><span class="bar__icon icon-box"></span>
        <h4 class="bar__title">Бесплатная доставка по Киеву
        </h4>
      </div>
      <div class="bar"><span class="bar__icon icon-car"></span>
        <h4 class="bar__title">Отправляем по всей Украине
        </h4>
      </div>
    </div>
  </div>
</section>