
<section class="encyclopedia-wrap">
</section>
<div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
  <div class="encyclopedia">
    <div class="encyclopedia__roof"> 
      <h2 class="encyclopedia__title title-secondary">Энциклопедия 
      </h2>
      <p class="encyclopedia__name-btn">Смотреть все 
        <button class="btn">
          <div class="btn__line btn__line--top">
          </div>
          <div class="btn__line btn__line--center">
          </div>
          <div class="btn__line btn__line--bottom">
          </div>
        </button>
      </p>
    </div>
    <div class="digest-slider">
      <div class="digest-slider__wrap">
        <div class="slide">
          <div class="slide__pic"><img class="slide__pic-img" src="../static/img/home/blog-img-1.jpg" alt="blog card" title=""/>
          </div>
          <h4 class="slide__title">Матрасы на пружинах боннель
          </h4>
          <p class="slide__text">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности
          </p>
          <p class="slide__date">25 Декабря 2018
          </p>
        </div>
      </div>
      <div class="digest-slider__wrap">
        <div class="slide">
          <div class="slide__pic"><img class="slide__pic-img" src="../static/img/home/blog-img-2.jpg" alt="blog card" title=""/>
          </div>
          <h4 class="slide__title">Ортопедический матрас Dormisan Пульман
          </h4>
          <p class="slide__text">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности
          </p>
          <p class="slide__date">29 Декабря 2018
          </p>
        </div>
      </div>
      <div class="digest-slider__wrap">
        <div class="slide">
          <div class="slide__pic"><img class="slide__pic-img" src="../static/img/home/blog-img-3.jpg" alt="blog card" title=""/>
          </div>
          <h4 class="slide__title">Купить тонкий матрас для дивана
          </h4>
          <p class="slide__text">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности
          </p>
          <p class="slide__date">26 Декабря 2018
          </p>
        </div>
      </div>
      <div class="digest-slider__wrap">
        <div class="slide">
          <div class="slide__pic"><img class="slide__pic-img" src="../static/img/home/encyclopedia-img-1.jpg" alt="blog card" title=""/>
          </div>
          <h4 class="slide__title">Как измерить высоту матраса?
          </h4>
          <p class="slide__text">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности
          </p>
          <p class="slide__date">27 Декабря 2018
          </p>
        </div>
      </div>
      <div class="digest-slider__wrap">
        <div class="slide">
          <div class="slide__pic"><img class="slide__pic-img" src="../static/img/home/encyclopedia-img-2.jpg" alt="blog card" title=""/>
          </div>
          <h4 class="slide__title">Матрасы на пружинах боннель
          </h4>
          <p class="slide__text">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности
          </p>
          <p class="slide__date">28 Декабря 2018
          </p>
        </div>
      </div>
      <div class="digest-slider__wrap">
        <div class="slide">
          <div class="slide__pic"><img class="slide__pic-img" src="../static/img/home/encyclopedia-img-3.jpg" alt="blog card" title=""/>
          </div>
          <h4 class="slide__title">Ортопедический матрас Dormisan Пульман
          </h4>
          <p class="slide__text">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности
          </p>
          <p class="slide__date">29 Декабря 2018
          </p>
        </div>
      </div>
      <div class="digest-slider__wrap">
        <div class="slide">
          <div class="slide__pic"><img class="slide__pic-img" src="../static/img/home/encyclopedia-img-4.jpg" alt="blog card" title=""/>
          </div>
          <h4 class="slide__title">Купить тонкий матрас для дивана
          </h4>
          <p class="slide__text">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности
          </p>
          <p class="slide__date">29 Декабря 2018
          </p>
        </div>
      </div>
    </div>
  </div>
</div>