
<div class="goods-wrap">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="goods">
      <div class="goods-pic">
        <div class="goods-pic__photo">
        </div>
        <p class="goods-pic__stock">
        </p>
        <div class="goods-pic__rating">
          <div class="goods-pic__rating-icon"><img class="goods-pic__rating-icon goods-pic__rating-icon--color"/><img class="goods-pic__rating-icon goods-pic__rating-icon--transparent"/>
          </div>
          <div class="goods-pic__rating-text">
          </div>
        </div>
      </div>
      <div class="goods-table">
        <div class="ds-table">
          <caption class="ds-table__caption">
            <div class="ds-caption ds-caption--size_3">Матрас Дабл Тучка Мемо
            </div>
            <div class="ds-caption ds-caption--size_6"><span class="ds-caption ds-caption--bold">Серия:</span> Детские беспружинные матрасы <span class="ds-caption ds-caption--revers">Артикул: 004</span>
            </div>
          </caption>
        </div>
      </div>
    </div>
  </div>
</div>