
<section class="goods-wrap">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <h2 class="goods-title title-secondary">Наши  лучшие матрасы
    </h2>
    <div class="goods-slider">
      <div class="slide-wrap">
        <div class="goods-slide">
          <div class="goods-pic"><img class="goods-pic__photo" src="../static/img/home/goods-img-1.jpg" alt="mattress" title="mattress"/>
            <p class="goods-pic__stock goods-pic__stock--hit">hit
            </p>
            <p class="goods-pic__stock goods-pic__stock--new">new
            </p>
            <p class="goods-pic__stock goods-pic__stock--rate">%
            </p>
            <div class="goods-pic__rating">
              <div class="goods-pic__rating-icon"><img class="goods-pic__rating-icon goods-pic__rating-icon--color" src="../static/img/home/icon-star-color.png" alt="icon-star-color" title=""/><img class="goods-pic__rating-icon goods-pic__rating-icon--color" src="../static/img/home/icon-star-color.png" alt="icon-star-color" title=""/><img class="goods-pic__rating-icon goods-pic__rating-icon--color" src="../static/img/home/icon-star-color.png" alt="icon-star-color" title=""/><img class="goods-pic__rating-icon goods-pic__rating-icon--transparent" src="../static/img/home/icon-star.png" alt="icon-star" title=""/><img class="goods-pic__rating-icon goods-pic__rating-icon--transparent" src="../static/img/home/icon-star.png" alt="icon-star" title=""/>
              </div>
              <p class="goods-pic__rating-text">4.5 из 5 на основе 201 опроса (ов)
              </p>
            </div>
          </div>
          <div class="goods-table">
            <table class="ds-table">
              <caption class="ds-table__caption">
                <div class="ds-caption ds-caption--table">Матрас Дабл 
                </div>
                <div class="ds-caption ds-caption--between"><span class="ds-caption ds-caption--bold">Серия: <span class="ds-caption ds-caption--medium">Детские беспружинные матрасы</span> </span><span class="ds-caption ds-caption--light">Артикул: <span>004</span></span>
                </div>
              </caption>
              <thead class="ds-table__head">
                <tr class="ds-table__row ds-table__row--relief">
                  <th class="ds-table__cell ds-table__cell--head ds-table__cell--head-primary">Стороны:
                  </th>
                  <th class="ds-table__cell ds-table__cell--head ds-table__cell--head-secondary">Прогиб:
                  </th>
                  <th class="ds-table__cell ds-table__cell--head ds-table__cell--head-secondary">Жесткость:
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="ds-table__row">
                  <td class="ds-table__cell ds-table__cell--column-primary">1
                    <div class="triangle">
                    </div>
                  </td>
                  <td class="ds-table__cell ds-table__cell--column-secondary">2.9 см
                  </td>
                  <td class="ds-table__cell ds-table__cell--column-secondary">4.2 из 5.0 (умерено жестк)
                  </td>
                </tr>
                <tr class="ds-table__row">
                  <td class="ds-table__cell ds-table__cell--column-primary">2
                    <div class="triangle">
                    </div>
                  </td>
                  <td class="ds-table__cell ds-table__cell--column-secondary">3.9 см
                  </td>
                  <td class="ds-table__cell ds-table__cell--column-secondary">3.6 из 5.0(среднежесткo)
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="ds-table ds-table--appearance-downgraded">
              <tbody>    
                <tr class="ds-table__row ds-table__row--relief">
                  <th class="ds-table__cell ds-table__cell--head">Высота: <span class="ds-table__text-medium">см</span>
                  </th>
                  <th class="ds-table__cell ds-table__cell--head">Объем: <span class="ds-table__text-medium">0.3 м. куб.</span>
                  </th>
                  <th class="ds-table__cell ds-table__cell--head ds-table__cell--medium-delete">Старая цена:<span>7500</span>
                  </th>
                </tr>
                <tr class="ds-table__row ds-table__row--relief">
                  <th class="ds-table__cell ds-table__cell--head">Вес: <span class="ds-table__text-medium">0.00 кг</span>
                  </th>
                  <th class="ds-table__cell ds-table__cell--head">Тип: <span class="ds-table__text-medium">Беспружинник</span>
                  </th>
                  <th class="ds-table__cell ds-table__cell--head ds-table__cell--head-big">6 500 грн
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="goods-slide__description">
            <h3 class="goods-slide__description-title">Описание длинный заголовок лучшие матрасы
            </h3>
            <p class="goods-slide__description-text">
              Как принято считать, многие известные личности представлены в исключительно положительном свете. 
              Также как социально-экономическое развитие, в своем 
              классическом представлении, допускает внедрение 
              своевременного выполнения сверхзадачи. Имеется спорная 
              точка зрения, гласящая примерно следующее: тщательные 
            </p>
          </div>
        </div>
      </div>
      <div class="slide-wrap">
        <div class="goods-slide">
          <div class="goods-pic"><img class="goods-pic__photo" src="../static/img/home/goods-img-1.jpg" alt="mattress" title="mattress"/>
            <p class="goods-pic__stock goods-pic__stock--hit">hit
            </p>
            <p class="goods-pic__stock goods-pic__stock--new">new
            </p>
            <p class="goods-pic__stock goods-pic__stock--rate">%
            </p>
            <div class="goods-pic__rating">
              <div class="goods-pic__rating-icon"><img class="goods-pic__rating-icon goods-pic__rating-icon--color" src="../static/img/home/icon-star-color.png" alt="icon-star-color" title=""/><img class="goods-pic__rating-icon goods-pic__rating-icon--color" src="../static/img/home/icon-star-color.png" alt="icon-star-color" title=""/><img class="goods-pic__rating-icon goods-pic__rating-icon--transparent" src="../static/img/home/icon-star.png" alt="icon-star" title=""/><img class="goods-pic__rating-icon goods-pic__rating-icon--transparent" src="../static/img/home/icon-star.png" alt="icon-star" title=""/><img class="goods-pic__rating-icon goods-pic__rating-icon--transparent" src="../static/img/home/icon-star.png" alt="icon-star" title=""/>
              </div>
              <p class="goods-pic__rating-text">4.5 из 5 на основе 201 опроса (ов)
              </p>
            </div>
          </div>
          <div class="goods-table">
            <table class="ds-table">
              <caption class="ds-table__caption">
                <div class="ds-caption ds-caption--table">Тучка Мемо
                </div>
                <div class="ds-caption ds-caption--between"><span class="ds-caption ds-caption--bold">Серия: <span class="ds-caption ds-caption--medium">Детские беспружинные матрасы</span> </span><span class="ds-caption ds-caption--light">Артикул: <span>004</span></span>
                </div>
              </caption>
              <thead class="ds-table__head">
                <tr class="ds-table__row ds-table__row--relief">
                  <th class="ds-table__cell ds-table__cell--head ds-table__cell--head-primary">Стороны:
                  </th>
                  <th class="ds-table__cell ds-table__cell--head ds-table__cell--head-secondary">Прогиб:
                  </th>
                  <th class="ds-table__cell ds-table__cell--head ds-table__cell--head-secondary">Жесткость:
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="ds-table__row">
                  <td class="ds-table__cell ds-table__cell--column-primary">1
                    <div class="triangle">
                    </div>
                  </td>
                  <td class="ds-table__cell ds-table__cell--column-secondary">2.9 см
                  </td>
                  <td class="ds-table__cell ds-table__cell--column-secondary">4.2 из 5.0 (умерено жестк)
                  </td>
                </tr>
                <tr class="ds-table__row">
                  <td class="ds-table__cell ds-table__cell--column-primary">2
                    <div class="triangle">
                    </div>
                  </td>
                  <td class="ds-table__cell ds-table__cell--column-secondary">3.9 см
                  </td>
                  <td class="ds-table__cell ds-table__cell--column-secondary">3.6 из 5.0(среднежесткo)
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="ds-table ds-table--appearance-downgraded">
              <tbody>    
                <tr class="ds-table__row ds-table__row--relief">
                  <th class="ds-table__cell ds-table__cell--head">Высота: <span class="ds-table__text-medium">см</span>
                  </th>
                  <th class="ds-table__cell ds-table__cell--head">Объем: <span class="ds-table__text-medium">0.3 м. куб.</span>
                  </th>
                  <th class="ds-table__cell ds-table__cell--head ds-table__cell--medium-delete">Старая цена:<span>7500</span>
                  </th>
                </tr>
                <tr class="ds-table__row ds-table__row--relief">
                  <th class="ds-table__cell ds-table__cell--head">Вес: <span class="ds-table__text-medium">0.00 кг</span>
                  </th>
                  <th class="ds-table__cell ds-table__cell--head">Тип: <span class="ds-table__text-medium">Беспружинник</span>
                  </th>
                  <th class="ds-table__cell ds-table__cell--head ds-table__cell--head-big">6 500 грн
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="goods-slide__description">
            <h3 class="goods-slide__description-title">Описание длинный заголовок лучшие матрасы
            </h3>
            <p class="goods-slide__description-text">
              Как принято считать, многие известные личности представлены в исключительно положительном свете. 
              Также как социально-экономическое развитие, в своем 
              классическом представлении, допускает внедрение 
              своевременного выполнения сверхзадачи. Имеется спорная 
              точка зрения, гласящая примерно следующее: тщательные 
            </p>
          </div>
        </div>
      </div>
      <div class="slide-wrap">
        <div class="goods-slide">
          <div class="goods-pic"><img class="goods-pic__photo" src="../static/img/home/goods-img-1.jpg" alt="mattress" title="mattress"/>
            <p class="goods-pic__stock goods-pic__stock--hit">hit
            </p>
            <p class="goods-pic__stock goods-pic__stock--new">new
            </p>
            <p class="goods-pic__stock goods-pic__stock--rate">%
            </p>
            <div class="goods-pic__rating">
              <div class="goods-pic__rating-icon"><img class="goods-pic__rating-icon goods-pic__rating-icon--color" src="../static/img/home/icon-star-color.png" alt="icon-star-color" title=""/><img class="goods-pic__rating-icon goods-pic__rating-icon--color" src="../static/img/home/icon-star-color.png" alt="icon-star-color" title=""/><img class="goods-pic__rating-icon goods-pic__rating-icon--color" src="../static/img/home/icon-star-color.png" alt="icon-star-color" title=""/><img class="goods-pic__rating-icon goods-pic__rating-icon--color" src="../static/img/home/icon-star-color.png" alt="icon-star-color" title=""/><img class="goods-pic__rating-icon goods-pic__rating-icon--color" src="../static/img/home/icon-star-color.png" alt="icon-star-color" title=""/>
              </div>
              <p class="goods-pic__rating-text">4.5 из 5 на основе 201 опроса (ов)
              </p>
            </div>
          </div>
          <div class="goods-table">
            <table class="ds-table">
              <caption class="ds-table__caption">
                <div class="ds-caption ds-caption--table">Матрас Дабл Тучка Мемо
                </div>
                <div class="ds-caption ds-caption--between"><span class="ds-caption ds-caption--bold">Серия: <span class="ds-caption ds-caption--medium">Детские беспружинные матрасы</span> </span><span class="ds-caption ds-caption--light">Артикул: <span>004</span></span>
                </div>
              </caption>
              <thead class="ds-table__head">
                <tr class="ds-table__row ds-table__row--relief">
                  <th class="ds-table__cell ds-table__cell--head ds-table__cell--head-primary">Стороны:
                  </th>
                  <th class="ds-table__cell ds-table__cell--head ds-table__cell--head-secondary">Прогиб:
                  </th>
                  <th class="ds-table__cell ds-table__cell--head ds-table__cell--head-secondary">Жесткость:
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="ds-table__row">
                  <td class="ds-table__cell ds-table__cell--column-primary">1
                    <div class="triangle">
                    </div>
                  </td>
                  <td class="ds-table__cell ds-table__cell--column-secondary">2.9 см
                  </td>
                  <td class="ds-table__cell ds-table__cell--column-secondary">4.2 из 5.0 (умерено жестк)
                  </td>
                </tr>
                <tr class="ds-table__row">
                  <td class="ds-table__cell ds-table__cell--column-primary">2
                    <div class="triangle">
                    </div>
                  </td>
                  <td class="ds-table__cell ds-table__cell--column-secondary">3.9 см
                  </td>
                  <td class="ds-table__cell ds-table__cell--column-secondary">3.6 из 5.0(среднежесткo)
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="ds-table ds-table--appearance-downgraded">
              <tbody>    
                <tr class="ds-table__row ds-table__row--relief">
                  <th class="ds-table__cell ds-table__cell--head">Высота: <span class="ds-table__text-medium">см</span>
                  </th>
                  <th class="ds-table__cell ds-table__cell--head">Объем: <span class="ds-table__text-medium">0.3 м. куб.</span>
                  </th>
                  <th class="ds-table__cell ds-table__cell--head ds-table__cell--medium-delete">Старая цена:<span>7500</span>
                  </th>
                </tr>
                <tr class="ds-table__row ds-table__row--relief">
                  <th class="ds-table__cell ds-table__cell--head">Вес: <span class="ds-table__text-medium">0.00 кг</span>
                  </th>
                  <th class="ds-table__cell ds-table__cell--head">Тип: <span class="ds-table__text-medium">Беспружинник</span>
                  </th>
                  <th class="ds-table__cell ds-table__cell--head ds-table__cell--head-big">6 500 грн
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="goods-slide__description">
            <h3 class="goods-slide__description-title">Описание длинный заголовок лучшие матрасы
            </h3>
            <p class="goods-slide__description-text">
              Как принято считать, многие известные личности представлены в исключительно положительном свете. 
              Также как социально-экономическое развитие, в своем 
              классическом представлении, допускает внедрение 
              своевременного выполнения сверхзадачи. Имеется спорная 
              точка зрения, гласящая примерно следующее: тщательные 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>