<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#8F67A4">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css">
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div id="app">
                        <header class="head-wrap">
                                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                <div class="head">
                                                                                          <div class="head__logo"><img class="head__logo head__logo--img" src="../static/img/logo.png" alt="logo" title="logo"/>
                                                                                          </div>
                                                                                    <div class="info">
                                                                                                        <nav class="navbar"><a class="navbar__link">О нас</a><a class="navbar__link">Новости</a><a class="navbar__link">Энциклопедия матрасов</a><a class="navbar__link">Gash Care</a><a class="navbar__link">Контакты</a>
                                                                                                        </nav>
                                                                                                              <div class="info__work"><a class="info__phone"><span class="info__icon icon_phone">&#xe090;</span>+38 (096) 747-5398</a>
                                                                                                                                        <div class="info__time">пн-пт: 8:00 - 21:00  •  сб: 9:00 - 20:00  •  вс: 10:00 - 19:00
                                                                                                                                        </div>
                                                                                                              </div>
                                                                                    </div>
                                                                                    <ul class="order"> 
                                                                                                              <li class="order__item"><span class="order__item order__item--color">–</span>  Запись на прием 
                                                                                                              </li>
                                                                                                              <li class="order__item"><span class="order__item order__item--color">–</span>  Индивидуальный подбор матраса 
                                                                                                              </li>
                                                                                                              <li class="order__item"><span class="order__item order__item--color">–</span>  Обратный звонок
                                                                                                              </li>
                                                                                    </ul>
                                                                                    <button class="btn-menu">
                                                                                                              <div class="btn-menu__line btn-menu__line--top">
                                                                                                              </div>
                                                                                                              <div class="btn-menu__line btn-menu__line--center">
                                                                                                              </div>
                                                                                                              <div class="btn-menu__line btn-menu__line--bottom">
                                                                                                              </div>
                                                                                    </button>
                                                                </div>
                                            </div>
                        </header>
                        <footer class="footer-wrap">
                                            <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
                                                                <div class="footer"> 
                                                                                          <div class="footer__logo"><img class="footer__logo footer__logo--img" src="../../static/img/logo.png" alt="logo" title="logo"/>
                                                                                          </div>
                                                                                    <div class="contact"> 
                                                                                                              <p class="contact__title">Наши контакты
                                                                                                              </p><a class="contact__phone"><span>+38(096)747 53 98</span>  </a><a class="contact__phone"><span>+38(096)747 53 98</span> <br/></a><a class="contact__mail"><span class="contact__mail contact__mail--icon icon_mail">&#xe076;</span> alexgash8@gmail.com</a>
                                                                                    </div>
                                                                                    <div class="schedule">
                                                                                                              <div class="schedule__title">График работы
                                                                                                              </div>
                                                                                                              <div class="schedule__time">с 8:00 до 21:00
                                                                                                              </div>
                                                                                                              <div class="schedule__weekends">В субботу:с 9:00 до 20:00 
                                                                                                              </div>
                                                                                                              <div class="schedule__weekends">В воскресенье: с 10:00 до 19:00
                                                                                                              </div>
                                                                                    </div>
                                                                                    <div class="social">
                                                                                                              <p class="social__title">Мы в социальных сетях
                                                                                                              </p>
                                                                                                              <div class="social__net"><a class="social__link"><span class="social__link social__link--icon social_instagram_square">&#xe0c8;</span> Instagram</a><a class="social__link"><span class="social__link social__link--icon social_youtube">&#xe0a3;</span> YouTube</a><a class="social__link"><span class="social__link social__link--icon social_facebook">&#xe093;</span> Facebook</a>
                                                                                                              </div>
                                                                                                              <div class="social__text">© GASH 2018. Все права защищены
                                                                                                              </div>
                                                                                    </div>
                                                                </div>
                                            </div>
                        </footer>
    </div>
    <script type="text/javascript" src="../static/js/vendor.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
  </body>
</html>