
<section class="subscription-wrap">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="subscription">
      <h2 class="subscription__title title-secondary">
        Станьте частью системы Gash Care”, мы сможем предложить оптимальное решение Вашей проблемы!
      </h2>
      <form class="form js-form-ajax" action="https://httpbin.org/post" id="form-small" method="POST" enctype="multipart/form-data">
        <div class="form__input-wrap"><input class="form__input-tel dim" id="phone" name="tel" type="tel" data-rule="required|phone" placeholder="+38 (___) ___ __ __"/>
        </div>
        <button class="form__btn-submit btn" type="submit">Отправить
        </button>
      </form>
    </div>
  </div>
</section>